.flows.json.backup
[
    {
        "id": "ed84d3e070727412",
        "type": "tab",
        "label": "INDEX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74273795d1e74a6e",
        "type": "tab",
        "label": "sensoresMQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fddb5bbb8ba27b8",
        "type": "tab",
        "label": "openValve",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2ee5c31eb45a2eb",
        "type": "group",
        "z": "74273795d1e74a6e",
        "name": "SIMULACION CIUDAD PASAJE 1",
        "style": {
            "label": true
        },
        "nodes": [
            "090ff7fcce047770",
            "dfecde504a4f527f",
            "2e65edee83aaf433",
            "6f7bf48e63f181d9",
            "e9c4d5483afe6262",
            "803b9183259fe06d",
            "14147c1964650d34",
            "a6d0d22d085f74b3",
            "3c6d0959f188901f",
            "505187c929d7d2d2",
            "9260d6f26e7dd321",
            "67a940a201ef019c"
        ],
        "x": 14,
        "y": 59,
        "w": 1292,
        "h": 262
    },
    {
        "id": "4a38ddaf1361227b",
        "type": "group",
        "z": "74273795d1e74a6e",
        "name": "SIMULACION MACHALA PARTE CENTRO",
        "style": {
            "label": true
        },
        "nodes": [
            "f90d413e3b1f65a4",
            "ac33eeb97a11343c",
            "00ee8f2fadebb831",
            "3903719e872611c1",
            "5b196b9b3dca0dd7",
            "eb6e19d5c9488b66",
            "47761ee10653b655",
            "54cfb07965b6602d",
            "179d031b87abc932",
            "5f662281a6de4b29",
            "59d6b0c31dbeea2c",
            "bbc916bbc5fa1208"
        ],
        "x": 14,
        "y": 399,
        "w": 1292,
        "h": 262
    },
    {
        "id": "b0d2720703c40ad4",
        "type": "group",
        "z": "ed84d3e070727412",
        "name": "MQTT MACHALA ",
        "style": {
            "label": true
        },
        "nodes": [
            "50bc6a215521888c",
            "82b0780e1307790a",
            "d334e97092f2808b",
            "520e5a3f3cc09aab",
            "305c3c0c03ae0355",
            "60b3d8e2e19ec498",
            "e5366730de0dcb5a",
            "33ae51b54f9e2879",
            "a7d4539d346465ca",
            "9116487937a2bc6d"
        ],
        "x": 74,
        "y": 399,
        "w": 1212,
        "h": 162
    },
    {
        "id": "1adf73174dcdf0d2",
        "type": "group",
        "z": "ed84d3e070727412",
        "name": "MQTT PASAJE",
        "style": {
            "label": true
        },
        "nodes": [
            "0c04a9284964dc5c",
            "e3644cb53b4f61ba",
            "4ed18513759d6448",
            "8ecd8ecfaefa5dd3",
            "1acf3e6bf85e0737",
            "2c0e8e1441e73bc8",
            "b1a5d77aa3d98336",
            "fbe1a869068162cf",
            "5fe729c055c96975",
            "4dad148bd6fa8fb2"
        ],
        "x": 74,
        "y": 199,
        "w": 1212,
        "h": 162
    },
    {
        "id": "3e6e56dcfdf5ebfb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f75a08fb9f09b8b6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cd922c1521ea3b4b",
        "type": "ui_tab",
        "name": "HOME",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "778525b5c804be1f",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0449b3b1fea99d52",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a0943956e535e2d",
        "type": "ui_group",
        "name": "OPCIONES",
        "tab": "cd922c1521ea3b4b",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a6b371b335c1959",
        "type": "ui_group",
        "name": "cabecera",
        "tab": "cd922c1521ea3b4b",
        "order": 1,
        "disp": false,
        "width": 25,
        "collapse": false,
        "className": "ui-card-panel {         background-color: trasparent ;         border-radius: 10px !important;     }"
    },
    {
        "id": "25728a1daa1c705d",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "778525b5c804be1f",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "37da77f10cb455eb",
        "type": "ui_group",
        "name": "CIUDAD PASAJE",
        "tab": "cd922c1521ea3b4b",
        "order": 3,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2589923f6ec5eb3b",
        "type": "ui_group",
        "name": "PRESION",
        "tab": "cd922c1521ea3b4b",
        "order": 4,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9149e06fbbe0794",
        "type": "ui_group",
        "name": "CONSUMO ESTIMADO",
        "tab": "cd922c1521ea3b4b",
        "order": 5,
        "disp": true,
        "width": 3,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Demo",
        "tab": "0449b3b1fea99d52",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "eb44e419915bad36",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "6a6b371b335c1959",
        "order": 1,
        "width": 9,
        "height": 1
    },
    {
        "id": "771f2e468b8da429",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "6a6b371b335c1959",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "6012880c6564a952",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7a0943956e535e2d",
        "order": 1,
        "width": 10,
        "height": 1
    },
    {
        "id": "7373fc3cd0c987ee",
        "type": "ui_group",
        "name": "CIUDAD 2",
        "tab": "778525b5c804be1f",
        "order": 2,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1909aabb4bb32cc9",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "7a2e960975660cae",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "e0d95571daf7fe35",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "0360429b0fe8a6d0",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "16470c4bf3ed8f02",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "d14c18e8fea2a878",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "ddab06f2c3200ae4",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "19a65e7ab87a1c39",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "b59156d671308483",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "4884458bc16f1747",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "5b2c9c88f6e27b38",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "29cffac74d36e985",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "7c45fa2591bdccaa",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "f11cab0ef0a90ab6",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "b1c0be3bb2dc5bd9",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "24e769da0d89a16d",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "c744a9d1156f1f67",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "0b2312a96e37537f",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "3bec9fb0f2095efd",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "d089185a877be680",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "957883066be49def",
        "type": "function",
        "z": "ed84d3e070727412",
        "name": "obtenerHora",
        "func": "var fecha = new Date();\n\n\nmsg.hora = fecha.toLocaleTimeString(\"es-ES\", {\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "9294c868009b30c5"
            ]
        ]
    },
    {
        "id": "b9298c58ae924471",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "group": "6a6b371b335c1959",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "fecha",
        "label": "",
        "format": "{{msg.fecha}}",
        "layout": "row-right",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "22d03304d1339daa",
        "type": "inject",
        "z": "ed84d3e070727412",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "957883066be49def"
            ]
        ]
    },
    {
        "id": "9294c868009b30c5",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "group": "6a6b371b335c1959",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "hora",
        "label": "",
        "format": "{{msg.hora}}",
        "layout": "row-right",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "36",
        "color": "#000000",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "e404673525a72701",
        "type": "inject",
        "z": "ed84d3e070727412",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "6a89e6ec70116b66"
            ]
        ]
    },
    {
        "id": "6a89e6ec70116b66",
        "type": "function",
        "z": "ed84d3e070727412",
        "name": "obtenerFecha",
        "func": "var fecha = new Date();\n\nmsg.fecha = fecha.toLocaleDateString(\"es-ES\", { weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\" });\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "b9298c58ae924471"
            ]
        ]
    },
    {
        "id": "7cf930cb2bae9f90",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "group": "6a6b371b335c1959",
        "order": 5,
        "width": 25,
        "height": 1,
        "name": "",
        "label": "BIENVENIDO AL SISTEMA DE MONITOREO DE GAS XD",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "26",
        "color": "#000000",
        "x": 720,
        "y": 40,
        "wires": []
    },
    {
        "id": "767fa5ac1e7bdb71",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "name": "NIVELES",
        "group": "37da77f10cb455eb",
        "order": 1,
        "width": 8,
        "height": 5,
        "gtype": "wave",
        "title": "{{payload.nombre}}",
        "label": "%",
        "format": "{{presion *10}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 840,
        "wires": []
    },
    {
        "id": "7350b429e8ffc6a5",
        "type": "ui_dropdown",
        "z": "ed84d3e070727412",
        "name": "",
        "label": "Ciudades",
        "tooltip": "ciudades",
        "place": "Seleccione la ciudad",
        "group": "7a0943956e535e2d",
        "order": 2,
        "width": 10,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Pasaje (Centro)",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Pasaje(Cerritos)",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Machala(Puerto)",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Machala(Centro)",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 220,
        "y": 960,
        "wires": [
            [
                "5cf57aed3c334388"
            ]
        ]
    },
    {
        "id": "a18a76c1c4df1d81",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "name": "",
        "group": "37da77f10cb455eb",
        "order": 2,
        "width": 7,
        "height": 5,
        "gtype": "gage",
        "title": "",
        "label": "PSI",
        "format": "{{payload * 10 | number:2 }}",
        "min": 0,
        "max": "10",
        "colors": [
            "#e73623",
            "#f9f343",
            "#49c705"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1170,
        "y": 880,
        "wires": []
    },
    {
        "id": "2d2304e88d8fc1c9",
        "type": "ui_chart",
        "z": "ed84d3e070727412",
        "name": "",
        "group": "37da77f10cb455eb",
        "order": 3,
        "width": 15,
        "height": 5,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1170,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "99b63fa91f544066",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "group": "d783cb980c3979fc",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n\n    /*Main background*/\n    body {\n        background: -webkit-linear-gradient(\n            55deg,\n            #009785 0%,\n            #245aa5 50%,\n            #b800e9 100%\n            );\n    }\n\n    /*Top bar*/\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF !important;\n    }\n\n\n    /*Left menu*/\n    /*Sidebar*/\n    body.nr-dashboard-theme md-sidenav {\n        color: white !important;\n        background-color: rgba(0,0,0,0) !important;\n    }\n    /*Hover selection*/\n    a.md-no-style, button.md-no-style {\n        border-radius: 10px !important;\n    }\n    /*Selected*/\n    .nr-menu-item-active div button {\n        border-right: 4px solid rgb(41 98 255) !important;\n    }\n    /*List*/\n    body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n        color: white !important;\n        background-color: rgba(40,85,165,1) !important;\n        border-radius: 10px !important;\n    }\n\n\n    /*Groups*/\n    ui-card-panel {\n        background-color: rgba(255,255,255,0.1) !important;\n        border-radius: 10px !important;\n    }\n    .nr-dashboard-theme ui-card-panel {\n        border: none !important;\n    }\n    /*Name groups*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n\n\n    /*Bouttons*/\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: rgba(255,255,255,.1) !important;\n    }\n    .md-button {\n        border-radius: 10px !important;\n    }\n\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu{\n        background-color: rgba(40,85,165,1) !important;\n    }\n    .nr-dashboard-theme md-select-menu, .nr-dashboard-theme md-select-menu md-option {\n        background-color: transparent !important;\n    }\n    .nr-dashboard-theme .md-select-menu-container {\n        border-radius: 10px !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: white !important;\n        background-color: #1a3566 !important;\n    }\n\n    /*Template*/\n    md-card>img, md-card>md-card-header img, md-card md-card-title-media img {\n        border-radius: 10px !important;\n    }\n\n    /* Color picker text BG */\n    .nr-dashboard-theme .color-picker-input-wrapper > input {\n        color: white !important;\n        background-color: transparent !important;\n    }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "x": 160,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5cf57aed3c334388",
        "type": "switch",
        "z": "ed84d3e070727412",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "97e74b2a9d6748c9"
            ],
            [
                "05a5cb7f2a63afe1"
            ],
            [
                "0cfe7f9c2b79a909"
            ],
            [
                "f0ff91e4b6e6e474"
            ]
        ]
    },
    {
        "id": "7d20ddbd9ce43158",
        "type": "change",
        "z": "ed84d3e070727412",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "datos",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "05a5cb7f2a63afe1",
        "type": "change",
        "z": "ed84d3e070727412",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "presion",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "0cfe7f9c2b79a909",
        "type": "change",
        "z": "ed84d3e070727412",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "f0ff91e4b6e6e474",
        "type": "change",
        "z": "ed84d3e070727412",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "50bc6a215521888c",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "topic": "admin123/cilindros/machala/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e6e56dcfdf5ebfb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "82b0780e1307790a"
            ]
        ]
    },
    {
        "id": "82b0780e1307790a",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "admin123/cilindros/machala",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin123/cilindros/machala/presion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin123/cilindros/machala/consumo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "305c3c0c03ae0355"
            ],
            [
                "d334e97092f2808b"
            ],
            [
                "520e5a3f3cc09aab"
            ]
        ]
    },
    {
        "id": "d334e97092f2808b",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 480,
        "wires": [
            [
                "60b3d8e2e19ec498"
            ]
        ]
    },
    {
        "id": "520e5a3f3cc09aab",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "consumo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "60b3d8e2e19ec498"
            ]
        ]
    },
    {
        "id": "305c3c0c03ae0355",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "datos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "60b3d8e2e19ec498"
            ]
        ]
    },
    {
        "id": "60b3d8e2e19ec498",
        "type": "join",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 770,
        "y": 500,
        "wires": [
            [
                "e5366730de0dcb5a",
                "33ae51b54f9e2879",
                "9116487937a2bc6d"
            ]
        ]
    },
    {
        "id": "d7363ad6b4cce219",
        "type": "debug",
        "z": "ed84d3e070727412",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1040,
        "wires": []
    },
    {
        "id": "97e74b2a9d6748c9",
        "type": "switch",
        "z": "ed84d3e070727412",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "e5366730de0dcb5a",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "NIVELES",
        "group": "7373fc3cd0c987ee",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "{{payload.datos.nombre}}",
        "label": "%",
        "format": "{{payload.presion*10}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 440,
        "wires": []
    },
    {
        "id": "33ae51b54f9e2879",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "group": "7373fc3cd0c987ee",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "PSI",
        "format": "{{payload.presion* 10 | number:2 }}",
        "min": 0,
        "max": "10",
        "colors": [
            "#e73623",
            "#f9f343",
            "#49c705"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 480,
        "wires": []
    },
    {
        "id": "a7d4539d346465ca",
        "type": "ui_chart",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "group": "7373fc3cd0c987ee",
        "order": 4,
        "width": 6,
        "height": 5,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9116487937a2bc6d",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b0d2720703c40ad4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "consumo",
                "pt": "msg",
                "to": "payload.consumo",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "consumo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 520,
        "wires": [
            [
                "a7d4539d346465ca"
            ]
        ]
    },
    {
        "id": "0c04a9284964dc5c",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "topic": "admin123/cilindros/pasaje/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e6e56dcfdf5ebfb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "e3644cb53b4f61ba"
            ]
        ]
    },
    {
        "id": "e3644cb53b4f61ba",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "admin123/cilindros/pasaje",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin123/cilindros/pasaje/presion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin123/cilindros/pasaje/consumo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "1acf3e6bf85e0737"
            ],
            [
                "4ed18513759d6448"
            ],
            [
                "8ecd8ecfaefa5dd3"
            ]
        ]
    },
    {
        "id": "4ed18513759d6448",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "2c0e8e1441e73bc8"
            ]
        ]
    },
    {
        "id": "8ecd8ecfaefa5dd3",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "consumo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "2c0e8e1441e73bc8"
            ]
        ]
    },
    {
        "id": "1acf3e6bf85e0737",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "datos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "2c0e8e1441e73bc8"
            ]
        ]
    },
    {
        "id": "2c0e8e1441e73bc8",
        "type": "join",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 770,
        "y": 300,
        "wires": [
            [
                "b1a5d77aa3d98336",
                "fbe1a869068162cf",
                "4dad148bd6fa8fb2"
            ]
        ]
    },
    {
        "id": "b1a5d77aa3d98336",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "NIVELES",
        "group": "25728a1daa1c705d",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "{{payload.datos.nombre}}",
        "label": "%",
        "format": "{{payload.presion*10}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 240,
        "wires": []
    },
    {
        "id": "fbe1a869068162cf",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "group": "25728a1daa1c705d",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "PSI",
        "format": "{{payload.presion* 10 | number:2 }}",
        "min": 0,
        "max": "10",
        "colors": [
            "#e73623",
            "#f9f343",
            "#49c705"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 280,
        "wires": []
    },
    {
        "id": "5fe729c055c96975",
        "type": "ui_chart",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "group": "25728a1daa1c705d",
        "order": 4,
        "width": 6,
        "height": 5,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "4dad148bd6fa8fb2",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "1adf73174dcdf0d2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "consumo",
                "pt": "msg",
                "to": "payload.consumo",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "consumo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 320,
        "wires": [
            [
                "5fe729c055c96975"
            ]
        ]
    },
    {
        "id": "090ff7fcce047770",
        "type": "mqtt out",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e6e56dcfdf5ebfb",
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "dfecde504a4f527f",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":1,\"nombre\":\"Pasaje (Centro)\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/pasaje",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "090ff7fcce047770"
            ]
        ]
    },
    {
        "id": "2e65edee83aaf433",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "dfecde504a4f527f"
            ]
        ]
    },
    {
        "id": "6f7bf48e63f181d9",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "Generar Presión",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "presion",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "e9c4d5483afe6262"
            ]
        ]
    },
    {
        "id": "e9c4d5483afe6262",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "Presión",
        "low": "7",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "3c6d0959f188901f",
                "505187c929d7d2d2"
            ]
        ]
    },
    {
        "id": "803b9183259fe06d",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "Consumo",
        "low": "0",
        "high": "1",
        "inte": "false",
        "property": "consumo",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "14147c1964650d34",
                "9260d6f26e7dd321"
            ]
        ]
    },
    {
        "id": "14147c1964650d34",
        "type": "function",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "Calcular Operación",
        "func": "let presion = global.get(\"presionC1\") ; \nlet consumo = msg.consumo;\n\nglobal.set(\"presionC1\", presion - consumo); \n\nmsg.presionr = global.get(\"presionC1\"); \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 280,
        "wires": [
            [
                "67a940a201ef019c"
            ]
        ]
    },
    {
        "id": "a6d0d22d085f74b3",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "803b9183259fe06d"
            ]
        ]
    },
    {
        "id": "3c6d0959f188901f",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "presionC1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "803b9183259fe06d"
            ]
        ]
    },
    {
        "id": "505187c929d7d2d2",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/pasaje/presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "090ff7fcce047770"
            ]
        ]
    },
    {
        "id": "9260d6f26e7dd321",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/pasaje/consumo",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "consumo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 200,
        "wires": [
            [
                "090ff7fcce047770"
            ]
        ]
    },
    {
        "id": "67a940a201ef019c",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "a2ee5c31eb45a2eb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/pasaje/presion",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "presionC1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 280,
        "wires": [
            [
                "090ff7fcce047770"
            ]
        ]
    },
    {
        "id": "f90d413e3b1f65a4",
        "type": "mqtt out",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e6e56dcfdf5ebfb",
        "x": 1230,
        "y": 440,
        "wires": []
    },
    {
        "id": "ac33eeb97a11343c",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":2,\"nombre\":\"Machala(Centro)\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/machala",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "f90d413e3b1f65a4"
            ]
        ]
    },
    {
        "id": "00ee8f2fadebb831",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "ac33eeb97a11343c"
            ]
        ]
    },
    {
        "id": "3903719e872611c1",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "Generar Presión",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "presion",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "5b196b9b3dca0dd7"
            ]
        ]
    },
    {
        "id": "5b196b9b3dca0dd7",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "Presión",
        "low": "7",
        "high": "10",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 500,
        "wires": [
            [
                "179d031b87abc932",
                "5f662281a6de4b29"
            ]
        ]
    },
    {
        "id": "eb6e19d5c9488b66",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "Consumo",
        "low": "0",
        "high": "1",
        "inte": "false",
        "property": "consumo",
        "x": 560,
        "y": 580,
        "wires": [
            [
                "47761ee10653b655",
                "59d6b0c31dbeea2c"
            ]
        ]
    },
    {
        "id": "47761ee10653b655",
        "type": "function",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "Calcular Operación",
        "func": "let presion = global.get(\"presionC1\") ; \nlet consumo = msg.consumo;\n\nglobal.set(\"presionC1\", presion - consumo); \n\nmsg.presionr = global.get(\"presionC1\"); \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 620,
        "wires": [
            [
                "bbc916bbc5fa1208"
            ]
        ]
    },
    {
        "id": "54cfb07965b6602d",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "eb6e19d5c9488b66"
            ]
        ]
    },
    {
        "id": "179d031b87abc932",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "presionC1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "eb6e19d5c9488b66"
            ]
        ]
    },
    {
        "id": "5f662281a6de4b29",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/machala/presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 500,
        "wires": [
            [
                "f90d413e3b1f65a4"
            ]
        ]
    },
    {
        "id": "59d6b0c31dbeea2c",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/machala/consumo",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "consumo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 540,
        "wires": [
            [
                "f90d413e3b1f65a4"
            ]
        ]
    },
    {
        "id": "bbc916bbc5fa1208",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "4a38ddaf1361227b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/machala/presion",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "presionC1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 620,
        "wires": [
            [
                "f90d413e3b1f65a4"
            ]
        ]
    },
    {
        "id": "5be65dbce585fe33",
        "type": "join",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "4542ed6e5cdbd9e2"
            ]
        ]
    },
    {
        "id": "df90f3d35b7476e3",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "40",
        "payloadType": "num",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "3f7be114a53332cb",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "33",
        "payloadType": "num",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "0ff794d961eb9804",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "1000",
        "payloadType": "num",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "4542ed6e5cdbd9e2",
        "type": "debug",
        "z": "1fddb5bbb8ba27b8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "9086c2496534a3a8",
        "type": "comment",
        "z": "1fddb5bbb8ba27b8",
        "name": "Combining three payload into one object ",
        "info": "",
        "x": 520,
        "y": 180,
        "wires": []
    }
]