flows.json
[
    {
        "id": "ed84d3e070727412",
        "type": "tab",
        "label": "INDEX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74273795d1e74a6e",
        "type": "tab",
        "label": "sensoresMQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fddb5bbb8ba27b8",
        "type": "tab",
        "label": "openValve",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6b946e3731be58c1",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "969d8996b0110f16",
        "type": "group",
        "z": "74273795d1e74a6e",
        "name": "SIMULACION NORTE",
        "style": {
            "label": true
        },
        "nodes": [
            "a650bf9d83e4ec4a",
            "6ab5784e6c744d2d",
            "0ac0b9d3f7b20ef1",
            "59480978506aa25e",
            "c446106c6309cc8d",
            "037577b4694f7516",
            "1076149b27138956",
            "0f379a02def92561",
            "461a6de532021279",
            "ecd44b739172d337",
            "3a4720e3968a645f",
            "d75804f66ab62f96",
            "55111d96b4599d19",
            "c067b2ee2268df33",
            "48c9d21b26acf77a",
            "8565c56ba519a0be",
            "31b8113f5e28d529",
            "d756e4ac2a0679d1",
            "14c265f16e9267eb",
            "6e84991db96a8aeb",
            "10b897910f81482b",
            "807c738004bc73a3",
            "bb6a6c959a605573"
        ],
        "x": 54,
        "y": 39,
        "w": 2072,
        "h": 382
    },
    {
        "id": "eca886a5d7cbed9d",
        "type": "group",
        "z": "ed84d3e070727412",
        "name": "PUNTO 1",
        "style": {
            "label": true
        },
        "nodes": [
            "f4c38b6556a8367c",
            "7ab6a756468eec78",
            "fe9ff1d4dc59e5bd",
            "afb71e2ddc111536",
            "b98b3653f9dbb8f8",
            "afbf9c4d79d0185c",
            "689c5ff4468693e8",
            "902b1c8a928ffe6a",
            "02899c84331de550",
            "2abda30277bd5535",
            "1b5d8b8a0c3b7e77",
            "bed00d5bd4b1128d",
            "57cc4b3fec6bccff",
            "3687ee3b09b52dd2",
            "662d9e463741798e",
            "aef2b33a57ae564e",
            "98258f222ce807e5",
            "6c2321c85b7fee9e",
            "dc355fd6c0f2bfb9",
            "ab6442dca4a352a0",
            "91b9c2381652a748",
            "6d1c51736053af55",
            "3c6173d7d1582dad",
            "fbefe42c368dc1b5",
            "4867fd6968c7b4e5",
            "0ad30251fa78784a",
            "b1a718579ce91be6",
            "eb1d5441a5493e8d",
            "bccc0eb40a4e684b",
            "306d32d1ec8d7c16",
            "894d3164b6ac88be",
            "94a20f8c52bf66e3",
            "9439d99e468635cf",
            "ad12f1451bc31dda",
            "c022c5cd2337e7fa",
            "c96b90951e2d8e7b",
            "20bf5a741d78c032",
            "de890ab489854ac3",
            "a769c677763b97df",
            "1330e11901f761fb",
            "6a85c26a0847dc5e",
            "77586fe3e35bfc10",
            "abb5e44725e92a48",
            "73c323a0992f611b",
            "47c5213329ee5147",
            "891da69baaef99e8",
            "7df77b2c4d632e1f",
            "1d1bd6d13873be6a",
            "8c5670e652ef5ce7",
            "26555eba38a5eb5b",
            "d9b2016a8168c0da",
            "9e859c70cca70c58",
            "35d79753365ab065",
            "902a80765e1907ad",
            "e57b0a5fa5a12ded",
            "3680ed389112da9f",
            "fb2ad3264e849b25",
            "0e3285607cbfc41d",
            "d019ea55b5e3fe3a",
            "5c5ee89b04338ee9",
            "fcd0baf417f0fd56",
            "c533dc8e307349f5",
            "dbee563e42a07af4",
            "70f25ef050637b79"
        ],
        "x": 14,
        "y": 419,
        "w": 2172,
        "h": 742
    },
    {
        "id": "1db8133a62cab60c",
        "type": "group",
        "z": "74273795d1e74a6e",
        "name": "SENSOR DE FUGA DE GAS AMBIENTE",
        "style": {
            "label": true
        },
        "nodes": [
            "b477bb105718138e",
            "e9174388a10ad829",
            "e53014b8fc5a1fc2",
            "86a3598925e12381"
        ],
        "x": 54,
        "y": 439,
        "w": 532,
        "h": 122
    },
    {
        "id": "3366b3234dc8cf7b",
        "type": "group",
        "z": "ed84d3e070727412",
        "name": "Widget de clima",
        "style": {
            "label": true
        },
        "nodes": [
            "b92cabac019bce89",
            "75452209a15ebcd7",
            "65ac218cfe1c5490",
            "ee729e06a0f51a57",
            "8c4c681ca32f3a98"
        ],
        "x": 754,
        "y": 179,
        "w": 872,
        "h": 82
    },
    {
        "id": "4387bad875a25044",
        "type": "group",
        "z": "ed84d3e070727412",
        "name": "Widget de fecha y hora",
        "style": {
            "label": true
        },
        "nodes": [
            "d7b57c5759641909",
            "957883066be49def",
            "22d03304d1339daa",
            "e404673525a72701",
            "6a89e6ec70116b66",
            "a5162c4aa79f7f5a"
        ],
        "x": 14,
        "y": 179,
        "w": 732,
        "h": 122
    },
    {
        "id": "002439cbc743be15",
        "type": "group",
        "z": "74273795d1e74a6e",
        "name": "SIMULACION SUR",
        "style": {
            "label": true
        },
        "nodes": [
            "bdf388fe84f5929e",
            "abbc73519a43cf40",
            "b64c79cbb1963c68",
            "ee85d086284b972d",
            "cf654264896d33aa",
            "7055b65fe7c82bc4",
            "882c1868ae840680",
            "0c4658f6189f0708",
            "c26ca30ae6ead40b",
            "dd08bdda4cc7dcf9",
            "85ef10671fbcda12",
            "824c9e7b9d877577",
            "29b2c3035b6c3512",
            "70b59a5e52e1da6d",
            "a0185919abbf334f",
            "d3185f0e1e4a21da",
            "1aafba5141555154",
            "6c9312ae69513302",
            "c9a23152d8e93a29",
            "bb50623ca3650235",
            "ecbd08dd8175dfb3",
            "429f2eeec85a809f",
            "b54d4a5e11474111"
        ],
        "x": 54,
        "y": 599,
        "w": 2072,
        "h": 382
    },
    {
        "id": "b717994f86bfd42c",
        "type": "group",
        "z": "74273795d1e74a6e",
        "name": "SENSOR DE FUGA DE GAS AMBIENTE",
        "style": {
            "label": true
        },
        "nodes": [
            "60534678f991e6f9",
            "968e399859c072d7",
            "d3f96eaf8900312e",
            "6286436424c36dd0"
        ],
        "x": 54,
        "y": 999,
        "w": 532,
        "h": 122
    },
    {
        "id": "b1ec3d039689d046",
        "type": "group",
        "z": "ed84d3e070727412",
        "name": "PUNTO 1",
        "style": {
            "label": true
        },
        "nodes": [
            "3c8f3249d4cbddd3",
            "a00b7c100644d27c",
            "2ee99f74550ca0c9",
            "95256d997c2041e2",
            "e56e7699fb376330",
            "f9f70714eecdf6aa",
            "1c34a74654e0f101",
            "b64a1759b1511cd5",
            "578392ba56197111",
            "0eb0b541ace7d2d5",
            "6214512901fc8c4a",
            "3c1bf62ca0a8d807",
            "d52a86a392475a33",
            "7ebff2a8c2274d23",
            "84016675def9d3ae",
            "084c6441ee8e9f44",
            "01bb6204515db810",
            "f9e3710cd7707f8d",
            "eeaf3baaf1f4a0ba",
            "2ced170761c1f3a6",
            "2e5ac239575c51d8",
            "7429dbf58dc40f20",
            "147599d650d9f7e9",
            "bffc347ada118b60",
            "2fef373ea7a36588",
            "1a8a6ca38a96564a",
            "0935314888241822",
            "efed553a178bf503",
            "a97b15eeb61c85ee",
            "a9a5113eef5c50e8",
            "e6d0a9ecb0b56d5c",
            "dcd6c9f22235b7c7",
            "66bb621a76a13186",
            "82afbb8ecffc5f8b",
            "b4e4c216c08fb7ec",
            "443e1fd8f52537e1",
            "083b1bbcdd5cd393",
            "6d174ffebf23c487",
            "ded1b19d4795f763",
            "374a51204e4fb67b",
            "b7f7973b8078c7e1",
            "343f4ce283c46eef",
            "6c89d3b5757ae75b",
            "76eeba0af4176ccb",
            "c69ead3cb476f0f4",
            "ca74fadd6bd71475",
            "23cfb007dca1b014",
            "aa203185084de920",
            "2bc08e92e116faf3",
            "9d19a3b315c6a6c8",
            "ca4b52459d6d4317",
            "7d03dde6b59bfa1b",
            "1a33f941b50e38d8",
            "d01690597d7edb6b",
            "46404e9ff2ae70e7",
            "0bb628b3cf316c54",
            "698251fd19d405c5",
            "a0b9da4bff51733f",
            "a25c13cdb96c8218"
        ],
        "x": 14,
        "y": 1219,
        "w": 2122,
        "h": 722
    },
    {
        "id": "3e6e56dcfdf5ebfb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f75a08fb9f09b8b6",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Monitor GAS",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "778525b5c804be1f",
        "type": "ui_tab",
        "name": "MONITOR CIUDADES",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0449b3b1fea99d52",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Demo",
        "tab": "0449b3b1fea99d52",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c8562f8666449872",
        "type": "ui_group",
        "name": "Notificaciones y alertas",
        "tab": "778525b5c804be1f",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": true,
        "className": ""
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "Monitoreo",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "dashboard-group",
        "type": "ui_group",
        "name": "Alertas",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "70113bd572087aab",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9e0c0e2d60ab491",
        "type": "ui_tab",
        "name": "Estadisticas",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b2646b7e26b1af9",
        "type": "ui_group",
        "name": "Estadistica P1",
        "tab": "b9e0c0e2d60ab491",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6a565f559b0906a",
        "type": "ui_group",
        "name": "P1",
        "tab": "778525b5c804be1f",
        "order": 4,
        "disp": false,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb250c05fdf29f20",
        "type": "ui_group",
        "name": "Clima",
        "tab": "778525b5c804be1f",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cc601547f7522ff",
        "type": "ui_group",
        "name": "Fecha y hora",
        "tab": "778525b5c804be1f",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ad726ee97b3c56ec",
        "type": "ui_group",
        "name": "P1 controles",
        "tab": "778525b5c804be1f",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c08ac066cd43cd8b",
        "type": "ui_group",
        "name": "P2",
        "tab": "778525b5c804be1f",
        "order": 6,
        "disp": false,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b62f81231a279246",
        "type": "ui_group",
        "name": "P2 controles",
        "tab": "778525b5c804be1f",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "159b390760a2eed2",
        "type": "ui_group",
        "name": "Estadistica P2",
        "tab": "b9e0c0e2d60ab491",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ca910b5.3d50a",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2c0d82c5cbab11fd",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": 5,
        "collapse": false
    },
    {
        "id": "d7e8ab4ae6aaf9bf",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7a51399e7d0ee9fa",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d3f4e498483a652d",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "761dcaba8c211ddd",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcb4dc1e761db2fa",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "c2e36c5919557eb6",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "877675ca0c15945f",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "dbd0f36ae9707a06",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "9ec8c1bb45485192",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "37118b30f8f7b52b",
        "type": "ui_spacer",
        "z": "1fddb5bbb8ba27b8",
        "name": "spacer",
        "group": "3ca910b5.3d50a",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "508ea9b7177158ac",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "d6a565f559b0906a",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "f9e7767ad9311ff4",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "d6a565f559b0906a",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "a15d34d42bab7ac5",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "c08ac066cd43cd8b",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "f0a2dc507550342a",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "c08ac066cd43cd8b",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "957883066be49def",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "4387bad875a25044",
        "name": "obtenerHora",
        "func": "var fecha = new Date();\n\nmsg.hora = fecha.toLocaleTimeString(\"es-ES\", {\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n});\n\nmsg.topic = \"hora\";\nmsg.payload = msg.hora;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "a5162c4aa79f7f5a"
            ]
        ]
    },
    {
        "id": "22d03304d1339daa",
        "type": "inject",
        "z": "ed84d3e070727412",
        "g": "4387bad875a25044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "957883066be49def"
            ]
        ]
    },
    {
        "id": "e404673525a72701",
        "type": "inject",
        "z": "ed84d3e070727412",
        "g": "4387bad875a25044",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "6a89e6ec70116b66"
            ]
        ]
    },
    {
        "id": "6a89e6ec70116b66",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "4387bad875a25044",
        "name": "obtenerFecha",
        "func": "var fecha = new Date();\n\nmsg.fecha = fecha.toLocaleDateString(\"es-ES\", {\n    weekday: \"long\",\n    year: \"numeric\",\n    month: \"long\",\n    day: \"numeric\"\n});\n\nmsg.topic = \"fecha\";\nmsg.payload = msg.fecha;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "a5162c4aa79f7f5a"
            ]
        ]
    },
    {
        "id": "99b63fa91f544066",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "group": "d783cb980c3979fc",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n  body {\n    background: -webkit-linear-gradient(55deg,\n        #161616 0%,\n        #161616 50%,\n        #161616 100%);\n  }\n\n  /************************************* ui_text *************************************/\n  /* Cambiar el bold para label y value de los text */\n  .nr-dashboard-text .label {\n    font-weight: bold !important;\n  }\n\n  .nr-dashboard-text .value {\n    font-weight: normal !important;\n  }\n\n  /************************************* ui_Gauge *************************************/\n  /* Color de los gauges */\n  .nr-dashboard-gauge path {\n    fill: #ff7b00 !important;\n  }\n\n  .nr-dashboard-gauge circle {\n    fill: #ff7b00 !important;\n  }\n\n  element {\n    background: rgb(255, 106, 7);\n  }\n\n  /************************************* ui_switch *************************************/\n  /* Color del circulo del switch */\n  .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n    background-color: #ff981d;\n  }\n\n  /* Color de la barra del switch */\n  .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n    background-color: rgb(163 113 41 / 50%);\n  }\n\n  /* template ui_switch */\n  .nr-dashboard-theme .nr-dashboard-template md-switch.md-checked:not([disabled]) .md-thumb {\n    background-color: #ffb900;\n  }\n\n  .nr-dashboard-theme .nr-dashboard-template md-switch.md-checked:not([disabled]) .md-bar {\n    background-color: rgb(255 165 22 / 50%);\n  }\n\n\n  /*Top bar*/\n  body.nr-dashboard-theme md-toolbar,\n  body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #ffffff !important;\n  }\n\n  /*Left menu*/\n  /*Sidebar*/\n  body.nr-dashboard-theme md-sidenav {\n    color: white !important;\n    background-color: rgba(0, 0, 0, 0) !important;\n  }\n\n  /* A침adir espacio entre los botones */\n  /* md-list-item {\n            margin-bottom: 10px !important;\n            margin-top: 10px !important;\n        }*/\n\n  md-list-item._md-button-wrap {\n    margin: 10px;\n  }\n\n  nr-menu-item-active {\n    border-right: 4px solid #ffe600;\n  }\n\n  /*Hover selection*/\n  a.md-no-style,\n  button.md-no-style {\n    border-radius: 10px !important;\n  }\n\n  .md-button.md-default-theme:not([disabled]).md-focused,\n  .md-button:not([disabled]).md-focused,\n  .md-button.md-default-theme:not([disabled]):hover,\n  .md-button:not([disabled]):hover {\n    background-color: none !important;\n  }\n\n  /*Selected*/\n  .nr-menu-item-active div button {\n    /* border-right: 4px solid rgb(255, 255, 255) !important;\n            border-left: 4px solid rgb(255, 255, 255) !important; */\n    /* background-color: #ff730000; */\n    border: none !important;\n  }\n\n  md-list-item.md-no-proxy.md-button,\n  md-list-item .md-no-style.md-button {\n    margin: 0px 5px !important;\n    width: 95% !important;\n  }\n\n  /*List*/\n  body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: white !important;\n    background-color: rgb(165, 75, 40) !important;\n    border-radius: 10px !important;\n  }\n\n  /*Groups*/\n  ui-card-panel {\n    background-color: rgba(255, 255, 255, 0.089) !important;\n    border-radius: 10px !important;\n  }\n\n  .nr-dashboard-theme ui-card-panel {\n    border: none !important;\n  }\n\n  /*Name groups*/\n  .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 255, 255, 0.5) !important;\n  }\n\n  /*Bouttons*/\n  .nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255, 255, 255, 0.1) !important;\n  }\n\n  .md-button {\n    border-radius: 10px !important;\n  }\n\n  /*Dropdown menu*/\n\n  /* Color de fondo en el efecto de abrir */\n  .nr-dashboard-theme md-select-menu {\n    background-color: rgb(39, 39, 39) !important;\n    /* background-color: transparent !important; */\n  }\n\n  .nr-dashboard-theme .md-select-menu-container {\n    border-radius: 10px !important;\n    border: none !important;\n  }\n\n  /* Color de la opcion seleccionada en el men칰 desplegable */\n  .nr-dashboard-theme md-select-menu md-option[selected] {\n    color: white !important;\n    background-color: #ff7b00 !important;\n  }\n\n  /* Color con hover sobre las opciones del men칰 desplegable */\n  .nr-dashboard-theme md-select-menu md-option:hover {\n    background-color: #555555 !important;\n  }\n\n  /*Template*/\n  md-card>img,\n  md-card>md-card-header img,\n  md-card md-card-title-media img {\n    border-radius: 10px !important;\n  }\n\n  /* Color picker text BG */\n  .nr-dashboard-theme .color-picker-input-wrapper>input {\n    color: white !important;\n    background-color: transparent !important;\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 220,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f4c38b6556a8367c",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "topic": "admin123/cilindros/punto1/consumo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 780,
        "wires": [
            [
                "fe9ff1d4dc59e5bd"
            ]
        ]
    },
    {
        "id": "7ab6a756468eec78",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Set topic presion",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 700,
        "wires": [
            [
                "afb71e2ddc111536",
                "afbf9c4d79d0185c"
            ]
        ]
    },
    {
        "id": "fe9ff1d4dc59e5bd",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Set topic consumo",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "consumo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 860,
        "wires": [
            [
                "77586fe3e35bfc10",
                "689c5ff4468693e8"
            ]
        ]
    },
    {
        "id": "afb71e2ddc111536",
        "type": "range",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "minin": "0",
        "maxin": "15",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 670,
        "y": 660,
        "wires": [
            [
                "a769c677763b97df",
                "c533dc8e307349f5"
            ]
        ]
    },
    {
        "id": "b98b3653f9dbb8f8",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "d6a565f559b0906a",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.nombre}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "afbf9c4d79d0185c",
        "type": "range",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "minin": "0",
        "maxin": "15",
        "minout": "0",
        "maxout": "150",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 680,
        "y": 720,
        "wires": [
            [
                "902b1c8a928ffe6a",
                "662d9e463741798e",
                "de890ab489854ac3",
                "77586fe3e35bfc10",
                "fb2ad3264e849b25"
            ]
        ]
    },
    {
        "id": "689c5ff4468693e8",
        "type": "ui_chart",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "group": "1b2646b7e26b1af9",
        "order": 1,
        "width": 20,
        "height": 4,
        "label": "Historial de consumo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "902b1c8a928ffe6a",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "60",
                "vt": "num",
                "v2": "99",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "59",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1090,
        "y": 800,
        "wires": [
            [
                "2abda30277bd5535"
            ],
            [
                "1b5d8b8a0c3b7e77"
            ],
            [
                "bed00d5bd4b1128d"
            ],
            [
                "c022c5cd2337e7fa"
            ]
        ]
    },
    {
        "id": "02899c84331de550",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "d6a565f559b0906a",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1520,
        "y": 760,
        "wires": []
    },
    {
        "id": "2abda30277bd5535",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Estado ALTO",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "丘멆잺 Alto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 700,
        "wires": [
            [
                "02899c84331de550"
            ]
        ]
    },
    {
        "id": "1b5d8b8a0c3b7e77",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Estado OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "游릭 OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 740,
        "wires": [
            [
                "02899c84331de550"
            ]
        ]
    },
    {
        "id": "bed00d5bd4b1128d",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Estado bajo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "游리 Bajo\t",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 780,
        "wires": [
            [
                "02899c84331de550"
            ]
        ]
    },
    {
        "id": "c022c5cd2337e7fa",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Estado critico",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "游댮 Cr칤tico\t",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 820,
        "wires": [
            [
                "02899c84331de550"
            ]
        ]
    },
    {
        "id": "57cc4b3fec6bccff",
        "type": "mqtt out",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "topic": "admin123/cilindros/norte/valvula",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70113bd572087aab",
        "x": 1410,
        "y": 520,
        "wires": []
    },
    {
        "id": "98258f222ce807e5",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "ad726ee97b3c56ec",
        "name": "Switch valvula",
        "order": 1,
        "width": 2,
        "height": 4,
        "format": "<script src=\"https://cdn.jsdelivr.net/npm/sweetalert2@11\"></script>\n<style>\n.valve-container {\ntext-align: center;\ncursor: pointer;\npadding: 20px\n}\n\n.valve-image {\n  display: block; /* A침adido para centrar */\n  margin: 0 auto; /* A침adido para centrar */\n  width: 50px;\n  height: 120px;\n}\n\n.valve-text {\nfont-size: 16px;\nfont-weight: bold;\nmargin-top: 8px;\n}\n\n.valve-open {\ncolor: #ffc900;\n}\n\n.valve-closed {\ncolor: #ff1f00;\n}\n\n</style>\n\n<!-- V치lvula control -->\n<div class=\"valve-container\" ng-click=\"confirmChangeValve1()\">\n  <img\n    ng-src=\"{{switchStateValve1 ? '/valvula_abierta.png' : '/valvula_cerrada.png'}}\"\n    alt=\"V치lvula\"\n    class=\"valve-image\"\n  />\n  <p class=\"valve-text\" ng-class=\"{'valve-open': switchStateValve1, 'valve-closed': !switchStateValve1}\">\n    {{switchStateValve1 ? 'V치lvula Abierta' : 'V치lvula Cerrada'}}\n  </p>\n</div>\n\n<script>\n  (function(scope) {\n  scope.switchStateValve1 = true;\n\n  scope.confirmChangeValve1 = function() {\n    const previousState = scope.switchStateValve1;\n    const newState = !previousState;\n\n    Swal.fire({\n      title: '쮼st치s seguro?',\n      text: 'Confirma para cambiar V츼LVULA 1',\n      icon: 'warning',\n      showCancelButton: true,\n      confirmButtonText: 'S칤',\n      cancelButtonText: 'No',\n      confirmButtonColor: '#ff7b00',\n      cancelButtonColor: '#d33',\n    }).then((result) => {\n      if (result.isConfirmed) {\n        scope.switchStateValve1 = newState;\n        scope.send({ topic: \"valvula1\", payload: scope.switchStateValve1 });\n      } else {\n        scope.switchStateValve1 = previousState;\n      }\n      scope.$apply();\n    });\n  };\n\n  scope.$watch(\"msg\", function(msg) {\n    if (msg && msg.topic === \"valvula1\" && msg.payload !== undefined) {\n      scope.switchStateValve1 = msg.payload;\n      scope.$apply();\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1140,
        "y": 460,
        "wires": [
            [
                "57cc4b3fec6bccff",
                "bccc0eb40a4e684b"
            ]
        ],
        "icon": "node-red-dashboard/ui_switch.png"
    },
    {
        "id": "68238b8109beea8f",
        "type": "function",
        "z": "ed84d3e070727412",
        "name": "Actualizar alertas",
        "func": "// Obtener o inicializar el estado global\nconst alerts = global.get('alerts') || {};\n//const cylinder = flow.get(\"datosCiudad1\");\nconst cylinder = msg.ciudad;\nconst pressure = msg.payload;\n\n// Definir rangos\nconst ranges = {\n    normal: { min: 100, max: 200 },\n    warning: { min: 60, max: 90 },\n    alarm: { min: 0, max: 59 }\n};\n\n// Determinar estado\nlet status, message, color;\nif (pressure >= ranges.normal.min && pressure <= ranges.normal.max) {\n    status = 'normal';\n} else if (pressure >= ranges.warning.min && pressure <= ranges.warning.max) {\n    status = 'warning';\n    message = `Advertencia: Presi칩n baja ${pressure} PSI`;\n    color = '#59544c';\n} else if (pressure >= ranges.alarm.min && pressure <= ranges.alarm.max) {\n    status = 'alarm';\n    message = `춰Alarma! Presi칩n cr칤tica ${pressure} PSI`;\n    color = '#a32929';\n}\n\n// Validar y actualizar estado de alertas\nif (status === 'normal') {\n    delete alerts[cylinder.nombre]; // Eliminar alerta si est치 en estado normal\n} else {\n    // Asegurarse de que el cilindro y los valores sean v치lidos\n    if (cylinder.nombre && cylinder.nombre !== 'undefined' && message && color) {\n        alerts[cylinder.nombre] = { message, color }; // Agregar o actualizar alerta\n    }\n}\n\n// Guardar en el contexto global\nglobal.set('alerts', alerts);\n\n// Generar arreglo limpio de alertas\nmsg.alerts = Object.entries(alerts)\n    .filter(([key, value]) => key && key !== 'undefined' && value.message && value.color) // Filtrar alertas v치lidas\n    .map(([key, value]) => ({ cylinder: key, ...value })); // Formatear las alertas\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1850,
        "y": 360,
        "wires": [
            [
                "39d3d59025217cd5"
            ]
        ]
    },
    {
        "id": "3687ee3b09b52dd2",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "nombre",
                "pt": "msg",
                "to": "nombre",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 860,
        "wires": [
            [
                "26555eba38a5eb5b"
            ]
        ]
    },
    {
        "id": "662d9e463741798e",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Valida si no es nulo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 860,
        "wires": [
            [
                "3687ee3b09b52dd2"
            ]
        ]
    },
    {
        "id": "39d3d59025217cd5",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "group": "c8562f8666449872",
        "name": "Renderizar alertas",
        "order": 1,
        "width": 20,
        "height": 3,
        "format": "<div style=\"border-left: 1px solid orange; border-radius: 5px; overflow: hidden; margin-bottom: 5px;\"\n  ng-repeat=\"alert in msg.alerts\">\n  <div style=\"background-color: {{alert.color}}; padding: 10px;\">\n    <h3>{{alert.cylinder}}</h3>\n    <p>{{alert.message}}</p>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 2050,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "aef2b33a57ae564e",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "06b07078a652f65d"
        ],
        "x": 1495,
        "y": 860,
        "wires": []
    },
    {
        "id": "06b07078a652f65d",
        "type": "link in",
        "z": "ed84d3e070727412",
        "name": "link in 1",
        "links": [
            "aef2b33a57ae564e",
            "084c6441ee8e9f44"
        ],
        "x": 1715,
        "y": 360,
        "wires": [
            [
                "68238b8109beea8f"
            ]
        ]
    },
    {
        "id": "6c2321c85b7fee9e",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Validar fuga > 0",
        "property": "fuga",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1200,
        "y": 660,
        "wires": [
            [
                "dc355fd6c0f2bfb9"
            ]
        ]
    },
    {
        "id": "dc355fd6c0f2bfb9",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Fuga == True",
        "rules": [
            {
                "t": "set",
                "p": "fuga",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 660,
        "wires": [
            [
                "eb1d5441a5493e8d"
            ]
        ]
    },
    {
        "id": "ab6442dca4a352a0",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Mover playload a msg.fuga",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "fuga",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 660,
        "wires": [
            [
                "6c2321c85b7fee9e"
            ]
        ]
    },
    {
        "id": "91b9c2381652a748",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "topic": "admin123/cilindros/punto1/presion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "7ab6a756468eec78"
            ]
        ]
    },
    {
        "id": "6d1c51736053af55",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "topic": "admin123/cilindros/punto1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 620,
        "wires": [
            [
                "94a20f8c52bf66e3"
            ]
        ]
    },
    {
        "id": "fbefe42c368dc1b5",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "topic": "admin123/punto1/sensores/fuga",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 540,
        "wires": [
            [
                "ad12f1451bc31dda"
            ]
        ]
    },
    {
        "id": "4867fd6968c7b4e5",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "d6a565f559b0906a",
        "name": "Notificacion fuga gas sensor ambiente",
        "order": 7,
        "width": 6,
        "height": 1,
        "format": "<script src=\"https://cdn.jsdelivr.net/npm/sweetalert2@11\"></script>\n<style>\n  body .swal2-popup {\n    font-family: Arial, sans-serif;\n    background: #262626;\n    color: #ffffff;\n    width: auto;\n    border-radius: 8px;\n    padding: 10px;\n  }\n\n  div:where(.swal2-icon).swal2-error {\n    border-color: #ffffff;\n    color: #ffffff;\n  }\n\n  .alert-container {\n    text-align: center;\n    font-size: 16px;\n    color: #ffffff;\n  }\n</style>\n\n<!-- Componente de alerta -->\n<div class=\"alert-container\" id=\"alert-container11\"></div>\n\n<script>\n  (function (scope) {\n    let lastPayload = null; // Variable para almacenar el 칰ltimo valor recibido\n    let alertActive = false; // Estado de la alerta activa\n\n    scope.$watch(\"msg\", function (msg) {\n      if (msg && msg.payload.estado !== lastPayload) {\n        lastPayload = msg.payload.estado; // Actualiza el 칰ltimo valor recibido\n\n        if (msg.payload.estado === true && !alertActive) {\n          alertActive = true;\n          Swal.fire({\n            title: \"춰Fuga de Gas Detectada!\",\n            text: \"Se ha detectado una fuga de gas en: \"+  msg.ciudad.nombre +  \". Tome precauciones inmediatas. +\\n + Por su seguridad se activara la ventilacion al maximo y se cerrara la valvula de suministro\",\n            icon: \"error\",\n            confirmButtonText: \"Entendido\",\n            confirmButtonColor: \"#ff0000\",\n          }).then(() => {\n            scope.send({ payload: true });\n            alertActive = false; // Reinicia el estado de alerta despu칠s de cerrar\n          });\n        }\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "c96b90951e2d8e7b",
                "b1a718579ce91be6"
            ]
        ]
    },
    {
        "id": "3c6173d7d1582dad",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 540,
        "wires": [
            [
                "98258f222ce807e5"
            ]
        ]
    },
    {
        "id": "c96b90951e2d8e7b",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 540,
        "wires": [
            [
                "3c6173d7d1582dad"
            ]
        ]
    },
    {
        "id": "0ad30251fa78784a",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "d6a565f559b0906a",
        "name": "IMAGEN TANQUE GAS",
        "order": 4,
        "width": 5,
        "height": 3,
        "format": "<img src=\"https://tatsa.mx/wp-content/uploads/2023/01/tanques-de-carburacio204129n-02.webp\"\n     style=\"display: block; margin: auto;\">\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b1a718579ce91be6",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "891da69baaef99e8"
        ],
        "x": 705,
        "y": 600,
        "wires": []
    },
    {
        "id": "891da69baaef99e8",
        "type": "link in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "link in 2",
        "links": [
            "b1a718579ce91be6"
        ],
        "x": 635,
        "y": 1120,
        "wires": [
            [
                "8c5670e652ef5ce7"
            ]
        ]
    },
    {
        "id": "eb1d5441a5493e8d",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Valvula = False && fuga = True",
        "func": "let estadoValvula = flow.get(\"estado_valvula_p1\"); // true o false\nlet hayFuga = msg.fuga === true;\nlet alerta = false;\n\nif (estadoValvula === false && hayFuga) {\n    alerta = true;\n}\n\nmsg.alerta = alerta;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 660,
        "wires": [
            [
                "306d32d1ec8d7c16"
            ]
        ]
    },
    {
        "id": "bccc0eb40a4e684b",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Guardar estado valvula en el flujo",
        "func": "flow.set(\"estado_valvula_p1\", msg.payload);\nreturn null; // no necesitamos enviar nada m치s\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "894d3164b6ac88be",
        "type": "inject",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Disparador de valvula",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "valvula1",
        "payload": "false",
        "payloadType": "bool",
        "x": 860,
        "y": 460,
        "wires": [
            [
                "98258f222ce807e5"
            ]
        ]
    },
    {
        "id": "306d32d1ec8d7c16",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Valida alerta == true",
        "property": "alerta",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1900,
        "y": 660,
        "wires": [
            [
                "9439d99e468635cf",
                "d9b2016a8168c0da"
            ]
        ]
    },
    {
        "id": "94a20f8c52bf66e3",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "datosCiudad1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 620,
        "wires": [
            [
                "b98b3653f9dbb8f8"
            ]
        ]
    },
    {
        "id": "9439d99e468635cf",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "function 2",
        "func": "msg.ciudad = flow.get(\"datosCiudad1\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 720,
        "wires": [
            [
                "47c5213329ee5147"
            ]
        ]
    },
    {
        "id": "ad12f1451bc31dda",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "function 1",
        "func": "// Obtener el objeto actual (o uno vac칤o si no existe a칰n)\nlet ciudad = flow.get(\"datosCiudad1\") || {};\n\n// Actualizar solo el campo \"concentracion\"\nciudad.concentracion = msg.payload.concentracion; // Ajusta seg칰n d칩nde tengas el valor\n\n// Guardar el objeto modificado nuevamente\nflow.set(\"datosCiudad1\", ciudad);\nlet prueba = flow.get(\"datosCiudad1\") || {};\nconsole.log(\"fuego\" , prueba);\n// (Opcional) Verificar\nmsg.ciudad = ciudad;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "4867fd6968c7b4e5"
            ]
        ]
    },
    {
        "id": "b92cabac019bce89",
        "type": "inject",
        "z": "ed84d3e070727412",
        "g": "3366b3234dc8cf7b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \t\"temp\" : 54, \t\"hum\" : 43 }",
        "payloadType": "json",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "75452209a15ebcd7"
            ]
        ]
    },
    {
        "id": "75452209a15ebcd7",
        "type": "http request",
        "z": "ed84d3e070727412",
        "g": "3366b3234dc8cf7b",
        "name": "Solicitud clima",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Machala,EC&units=metric&lang=es&appid=c6fbddc45f00124a2e572f57a0d43d91",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1020,
        "y": 220,
        "wires": [
            [
                "65ac218cfe1c5490"
            ]
        ]
    },
    {
        "id": "65ac218cfe1c5490",
        "type": "json",
        "z": "ed84d3e070727412",
        "g": "3366b3234dc8cf7b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1170,
        "y": 220,
        "wires": [
            [
                "ee729e06a0f51a57"
            ]
        ]
    },
    {
        "id": "ee729e06a0f51a57",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "3366b3234dc8cf7b",
        "name": "Obtener datos de la API",
        "func": "msg.payload = {\n  name: msg.payload.name,\n  weather: msg.payload.weather,\n  main: msg.payload.main\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 220,
        "wires": [
            [
                "8c4c681ca32f3a98"
            ]
        ]
    },
    {
        "id": "8c4c681ca32f3a98",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "3366b3234dc8cf7b",
        "group": "fb250c05fdf29f20",
        "name": "Clima",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div\n    style=\"display: flex; align-items: center; justify-content: space-around; padding: 10px; font-family: sans-serif; text-align: center;\">\n\n    <!-- Icono -->\n    <div>\n        <img ng-src=\"http://openweathermap.org/img/wn/{{msg.payload.weather[0].icon}}@2x.png\" alt=\"clima\" style=\"width: 60px; height: 60px;\">\n    </div>\n\n    <!-- Ciudad -->\n    <div>\n        <p style=\"margin: 0; font-weight: bold;\">Ciudad</p>\n        <p style=\"margin: 0;\">{{msg.payload.name}}</p>\n    </div>\n\n    <!-- Estado del clima -->\n    <div>\n        <p style=\"margin: 0; font-weight: bold;\">Estado</p>\n        <p style=\"margin: 0;\">{{msg.payload.weather[0].description | uppercase}}</p>\n    </div>\n\n    <!-- Temperatura -->\n    <div>\n        <p style=\"margin: 0; font-weight: bold;\">Temperatura</p>\n        <p style=\"margin: 0;\">{{msg.payload.main.temp}} 춿C</p>\n    </div>\n\n    <!-- Sensaci칩n t칠rmica -->\n    <div>\n        <p style=\"margin: 0; font-weight: bold;\">Sensaci칩n</p>\n        <p style=\"margin: 0;\">{{msg.payload.main.feels_like}} 춿C</p>\n    </div>\n\n    <!-- Humedad -->\n    <div>\n        <p style=\"margin: 0; font-weight: bold;\">Humedad</p>\n        <p style=\"margin: 0;\">{{msg.payload.main.humidity}} %</p>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1550,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d7b57c5759641909",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "4387bad875a25044",
        "group": "2cc601547f7522ff",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .clock-widget{\n        text-align: center;\n        font-family: 'Segoe UI', sans-serif;\n        color: #fff;\n    }\n    .clock-widget .fecha {\n        font-size: 14px;\n        color: #ccc;\n        margin-bottom: 8px;\n    }\n\n    .clock-widget .hora {\n        font-size: 32px;\n        font-weight: bold;\n        color: #ffa500;\n    }\n</style>\n\n<div class=\"clock-widget\">\n    <div class=\"fecha\">{{msg.payload.fecha}}</div>\n    <div class=\"hora\">{{msg.payload.hora}}</div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a5162c4aa79f7f5a",
        "type": "join",
        "z": "ed84d3e070727412",
        "g": "4387bad875a25044",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "d7b57c5759641909"
            ]
        ]
    },
    {
        "id": "20bf5a741d78c032",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "d6a565f559b0906a",
        "name": "Descripcion general",
        "order": 10,
        "width": 14,
        "height": 2,
        "format": "<style>\n    .contenedor-horizontal {\n        display: flex;\n        align-items: center;\n        justify-content: space-around;\n        padding: 10px;\n        font-family: Arial, sans-serif;\n        text-align: center;\n        /* background-color: #f0f0f0; */\n        border-radius: 8px;\n        margin: 10px 20px;\n    }\n\n    .contenedor-horizontal div {\n        margin: 0 10px;\n    }\n\n    .etiqueta {\n        font-weight: bold;\n    }\n\n    .contenedor-horizontal p {\n        margin: 0;\n    }\n\n    .contenedor-horizontal p:first-child {\n        font-weight: bold;\n    }\n</style>\n\n<div class=\"contenedor-horizontal\">\n    <div>\n        <p>Nivel</p>\n        <p>{{msg.payload.nivel * 10 | number:2}}%</p>\n    </div>\n    <div>\n        <p>Presi칩n</p>\n        <p>{{msg.payload.presion | number:2}} PSI</p>\n    </div>\n    <div>\n        <p>Concentraci칩n</p>\n        <p>{{msg.payload.concentracion}} ppm</p>\n    </div>\n    <div>\n        <p>Direcci칩n</p>\n        <p>{{msg.payload.direccion}}</p>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1440,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "de890ab489854ac3",
        "type": "join",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "1330e11901f761fb"
            ]
        ]
    },
    {
        "id": "a769c677763b97df",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Set topic nivel",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "nivel",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 940,
        "wires": [
            [
                "de890ab489854ac3"
            ]
        ]
    },
    {
        "id": "1330e11901f761fb",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Guardar datos",
        "func": "let datos = flow.get('datosCiudad1') || {};\n\nmsg.payload = {\n    nombre: datos.nombre,\n    concentracion: datos.concentracion,\n    direccion: datos.direccion,\n    presion: msg.payload.presion,\n    nivel: msg.payload.nivel\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 940,
        "wires": [
            [
                "20bf5a741d78c032"
            ]
        ]
    },
    {
        "id": "6a85c26a0847dc5e",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Validar consumo > 0",
        "property": "payload.consumo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 820,
        "wires": [
            [
                "abb5e44725e92a48"
            ]
        ]
    },
    {
        "id": "77586fe3e35bfc10",
        "type": "join",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Unir presion y consumo en payload",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 860,
        "wires": [
            [
                "6a85c26a0847dc5e"
            ]
        ]
    },
    {
        "id": "abb5e44725e92a48",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Link enviar consumo",
        "mode": "link",
        "links": [
            "73c323a0992f611b"
        ],
        "x": 765,
        "y": 860,
        "wires": []
    },
    {
        "id": "73c323a0992f611b",
        "type": "link in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Link recibir consumo P1",
        "links": [
            "abb5e44725e92a48"
        ],
        "x": 815,
        "y": 660,
        "wires": [
            [
                "ab6442dca4a352a0"
            ]
        ]
    },
    {
        "id": "47c5213329ee5147",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "d6a565f559b0906a",
        "name": "Alerta fuga gas tanque cerrado",
        "order": 9,
        "width": 6,
        "height": 1,
        "format": "<script src=\"https://cdn.jsdelivr.net/npm/sweetalert2@11\"></script>\n\n<style>\n  body .swal2-popup {\n    font-family: Arial, sans-serif;\n    background: #262626;\n    color: #ffffff;\n    width: auto;\n    border-radius: 8px;\n    padding: 10px;\n  }\n\n  div:where(.swal2-icon).swal2-error {\n    border-color: #ffffff;\n    color: #ffffff;\n  }\n\n  .alert-container {\n    text-align: center;\n    font-size: 16px;\n    color: #ffffff;\n  }\n</style>\n\n<div class=\"alert-container\" id=\"alert-container1\"></div>\n\n<script>\n  (function(scope) {\n    scope.$watch('msg', function(msg) {\n      if (msg && msg.alerta === true && msg.ciudad) {\n        Swal.fire({\n          title: \"춰Fuga de Gas Detectada!\",\n          text: \"Se ha detectado una fuga de gas en: \" + msg.ciudad.nombre +\n            \". Tome precauciones inmediatas.\\nPor su seguridad se activar치 la ventilaci칩n al m치ximo y se cerrar치 la v치lvula de suministro.\",\n          icon: \"error\",\n          confirmButtonText: \"Entendido\",\n          confirmButtonColor: \"#ff0000\"\n        }).then(() => {\n          // Enviar un nuevo mensaje al flujo con alerta = false\n          scope.send({ alerta: false });\n        });\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1890,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "7df77b2c4d632e1f",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "ad726ee97b3c56ec",
        "name": "Slider ventilador P1",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .wrapper {\n        margin: 20px 20px 20px 10px;\n        position: relative;\n        width: 87%;\n        height: 1.5rem;\n    }\n\n    .wrapper::before,\n    .wrapper::after {\n        content: '';\n        display: block;\n        position: absolute;\n        z-index: 99;\n        color: #fff;\n        height: 100%;\n        text-align: center;\n        font-size: 1.5rem;\n        line-height: 1;\n        padding: 0 0.75rem;\n        pointer-events: none;\n    }\n\n    .wrapper::before {\n        left: 0;\n        top: 0;\n    }\n\n    .wrapper::after {\n        right: 0;\n        top: 0;\n    }\n\n    input[type=\"range\"] {\n        position:absolute;\n        -webkit-appearance: none;\n        appearance: none;\n        background-color: rgba(255, 255, 255, 0.2);\n        top: 50%;\n        left: 50%;\n        margin: 0;\n        width: 15rem;\n        height: 3.5rem;\n        transform: translate(-50%, -50%);\n        border-radius: 1rem;\n        overflow: hidden;\n        cursor: col-resize;\n    }\n\n    input[type=\"range\"]::-webkit-slider-runnable-track {\n        background-color: rgba(255, 255, 255, 0.2);\n    }\n\n    input[type=\"range\"]::-webkit-slider-thumb {\n        -webkit-appearance: none;\n        appearance: none;\n        width: 0;\n        height: 0;\n        box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);\n    }\n\n    input[type=\"range\"]::-moz-range-thumb {\n        border: none;\n        width: 0;\n        height: 0;\n        box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);\n    }\n</style>\n\n<div class=\"wrapper\">\n    <input type=\"range\" min=\"0\" max=\"100\" step=\"1\" value=\"50\" ng-model=\"sliderValue1\" />\n</div>\n\n<script>\n    (function(scope) {\n    // Actualiza el slider cuando cambia\n    scope.$watch('sliderValue1', function(newValue) {\n    if (newValue !== undefined) {\n    scope.send({ payload: newValue });\n    }\n    });\n    \n    // Escucha nuevos valores desde el exterior (por ejemplo, Node-RED o backend)\n    scope.on('payload', function(msg) {\n    if (msg && typeof msg.payload === 'number') {\n    scope.sliderValue1 = msg.payload;\n    }\n    });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1270,
        "y": 1120,
        "wires": [
            [
                "70f25ef050637b79"
            ]
        ]
    },
    {
        "id": "1d1bd6d13873be6a",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "velocidad ventilador = 100",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 1120,
        "wires": [
            [
                "7df77b2c4d632e1f",
                "70f25ef050637b79"
            ]
        ]
    },
    {
        "id": "8c5670e652ef5ce7",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Si estado es True",
        "property": "payload.estado",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 1120,
        "wires": [
            [
                "1d1bd6d13873be6a"
            ]
        ]
    },
    {
        "id": "3c8f3249d4cbddd3",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "topic": "admin123/cilindros/punto2/consumo",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1580,
        "wires": [
            [
                "2ee99f74550ca0c9"
            ]
        ]
    },
    {
        "id": "a00b7c100644d27c",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Set topic presion",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 1500,
        "wires": [
            [
                "95256d997c2041e2",
                "f9f70714eecdf6aa"
            ]
        ]
    },
    {
        "id": "2ee99f74550ca0c9",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Set topic consumo",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "consumo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 1660,
        "wires": [
            [
                "343f4ce283c46eef",
                "1c34a74654e0f101"
            ]
        ]
    },
    {
        "id": "95256d997c2041e2",
        "type": "range",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "minin": "0",
        "maxin": "15",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 670,
        "y": 1460,
        "wires": [
            [
                "ded1b19d4795f763",
                "a0b9da4bff51733f"
            ]
        ]
    },
    {
        "id": "e56e7699fb376330",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "c08ac066cd43cd8b",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.nombre}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 630,
        "y": 1420,
        "wires": []
    },
    {
        "id": "f9f70714eecdf6aa",
        "type": "range",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "minin": "0",
        "maxin": "15",
        "minout": "0",
        "maxout": "150",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 680,
        "y": 1520,
        "wires": [
            [
                "b64a1759b1511cd5",
                "84016675def9d3ae",
                "6d174ffebf23c487",
                "343f4ce283c46eef",
                "46404e9ff2ae70e7"
            ]
        ]
    },
    {
        "id": "1c34a74654e0f101",
        "type": "ui_chart",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "group": "159b390760a2eed2",
        "order": 1,
        "width": 20,
        "height": 4,
        "label": "Historial de consumo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "b64a1759b1511cd5",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "60",
                "vt": "num",
                "v2": "99",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "59",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 930,
        "y": 1560,
        "wires": [
            [
                "0eb0b541ace7d2d5"
            ],
            [
                "6214512901fc8c4a"
            ],
            [
                "3c1bf62ca0a8d807"
            ],
            [
                "b4e4c216c08fb7ec"
            ]
        ]
    },
    {
        "id": "578392ba56197111",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "c08ac066cd43cd8b",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1520,
        "y": 1560,
        "wires": []
    },
    {
        "id": "0eb0b541ace7d2d5",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Estado ALTO",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "丘멆잺 Alto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1500,
        "wires": [
            [
                "578392ba56197111"
            ]
        ]
    },
    {
        "id": "6214512901fc8c4a",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Estado OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "游릭 OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1540,
        "wires": [
            [
                "578392ba56197111"
            ]
        ]
    },
    {
        "id": "3c1bf62ca0a8d807",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Estado bajo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "游리 Bajo\t",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 1580,
        "wires": [
            [
                "578392ba56197111"
            ]
        ]
    },
    {
        "id": "d52a86a392475a33",
        "type": "mqtt out",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "topic": "admin123/cilindros/punto2/valvula",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70113bd572087aab",
        "x": 1420,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7ebff2a8c2274d23",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "nombre",
                "pt": "msg",
                "to": "nombre",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1660,
        "wires": [
            [
                "9d19a3b315c6a6c8"
            ]
        ]
    },
    {
        "id": "84016675def9d3ae",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Valida si no es nulo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 1660,
        "wires": [
            [
                "7ebff2a8c2274d23"
            ]
        ]
    },
    {
        "id": "084c6441ee8e9f44",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "link out 3 P2",
        "mode": "link",
        "links": [
            "06b07078a652f65d"
        ],
        "x": 1525,
        "y": 1660,
        "wires": []
    },
    {
        "id": "01bb6204515db810",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "b62f81231a279246",
        "name": "Switch valvula",
        "order": 1,
        "width": 2,
        "height": 4,
        "format": "<script src=\"https://cdn.jsdelivr.net/npm/sweetalert2@11\"></script>\n<style>\n.valve-container {\ntext-align: center;\ncursor: pointer;\npadding: 20px\n}\n\n.valve-image {\n  display: block; /* A침adido para centrar */\n  margin: 0 auto; /* A침adido para centrar */\n  width: 50px;\n  height: 120px;\n}\n\n.valve-text {\nfont-size: 16px;\nfont-weight: bold;\nmargin-top: 8px;\n}\n\n.valve-open {\ncolor: #ffc900;\n}\n\n.valve-closed {\ncolor: #ff1f00;\n}\n\n</style>\n\n<!-- V치lvula control -->\n<div class=\"valve-container\" ng-click=\"confirmChangeValve2()\">\n  <img\n    ng-src=\"{{switchStateValve2 ? '/valvula_abierta.png' : '/valvula_cerrada.png'}}\"\n    alt=\"V치lvula\"\n    class=\"valve-image\"\n  />\n  <p class=\"valve-text\" ng-class=\"{'valve-open': switchStateValve2, 'valve-closed': !switchStateValve2}\">\n    {{switchStateValve2 ? 'V치lvula Abierta' : 'V치lvula Cerrada'}}\n  </p>\n</div>\n\n<script>\n  (function(scope) {\n  scope.switchStateValve2 = true;\n\n  scope.confirmChangeValve2 = function() {\n    const previousState = scope.switchStateValve2;\n    const newState = !previousState;\n\n    Swal.fire({\n      title: '쮼st치s seguro?',\n      text: 'Confirma para cambiar V츼LVULA 2',\n      icon: 'warning',\n      showCancelButton: true,\n      confirmButtonText: 'S칤',\n      cancelButtonText: 'No',\n      confirmButtonColor: '#ff7b00',\n      cancelButtonColor: '#d33',\n    }).then((result) => {\n      if (result.isConfirmed) {\n        scope.switchStateValve2 = newState;\n        scope.send({ topic: \"valvula2\", payload: scope.switchStateValve2 });\n      } else {\n        scope.switchStateValve2 = previousState;\n      }\n      scope.$apply();\n    });\n  };\n\n  scope.$watch(\"msg\", function(msg) {\n    if (msg && msg.topic === \"valvula2\" && msg.payload !== undefined) {\n      scope.switchStateValve2 = msg.payload;\n      scope.$apply();\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1140,
        "y": 1260,
        "wires": [
            [
                "a97b15eeb61c85ee",
                "d52a86a392475a33"
            ]
        ],
        "icon": "node-red-dashboard/ui_switch.png"
    },
    {
        "id": "f9e3710cd7707f8d",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Validar fuga > 0",
        "property": "fuga",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1200,
        "y": 1460,
        "wires": [
            [
                "eeaf3baaf1f4a0ba"
            ]
        ]
    },
    {
        "id": "eeaf3baaf1f4a0ba",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Fuga == True",
        "rules": [
            {
                "t": "set",
                "p": "fuga",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 1460,
        "wires": [
            [
                "efed553a178bf503"
            ]
        ]
    },
    {
        "id": "2ced170761c1f3a6",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Mover playload a msg.fuga",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "fuga",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1460,
        "wires": [
            [
                "f9e3710cd7707f8d"
            ]
        ]
    },
    {
        "id": "2e5ac239575c51d8",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "topic": "admin123/cilindros/punto2/presion",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1500,
        "wires": [
            [
                "a00b7c100644d27c"
            ]
        ]
    },
    {
        "id": "7429dbf58dc40f20",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "topic": "admin123/cilindros/punto2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1420,
        "wires": [
            [
                "dcd6c9f22235b7c7"
            ]
        ]
    },
    {
        "id": "147599d650d9f7e9",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 1340,
        "wires": [
            [
                "01bb6204515db810"
            ]
        ]
    },
    {
        "id": "bffc347ada118b60",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "topic": "admin123/punto2/sensores/fuga",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1340,
        "wires": [
            [
                "82afbb8ecffc5f8b"
            ]
        ]
    },
    {
        "id": "2fef373ea7a36588",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "c08ac066cd43cd8b",
        "name": "Notificacion fuga gas sensor ambiente",
        "order": 8,
        "width": 6,
        "height": 1,
        "format": "<script src=\"https://cdn.jsdelivr.net/npm/sweetalert2@11\"></script>\n<style>\n  body .swal2-popup {\n    font-family: Arial, sans-serif;\n    background: #262626;\n    color: #ffffff;\n    width: auto;\n    border-radius: 8px;\n    padding: 10px;\n  }\n\n  div:where(.swal2-icon).swal2-error {\n    border-color: #ffffff;\n    color: #ffffff;\n  }\n\n  .alert-container {\n    text-align: center;\n    font-size: 16px;\n    color: #ffffff;\n  }\n</style>\n\n<!-- Componente de alerta -->\n<div class=\"alert-container\" id=\"alert-container22\"></div>\n\n<script>\n  (function (scope) {\n    let lastPayload = null; // Variable para almacenar el 칰ltimo valor recibido\n    let alertActive = false; // Estado de la alerta activa\n\n    scope.$watch(\"msg\", function (msg) {\n      if (msg && msg.payload.estado !== lastPayload) {\n        lastPayload = msg.payload.estado; // Actualiza el 칰ltimo valor recibido\n\n        if (msg.payload.estado === true && !alertActive) {\n          alertActive = true;\n          Swal.fire({\n            title: \"춰Fuga de Gas Detectada!\",\n            text: \"Se ha detectado una fuga de gas en: \"+  msg.ciudad.nombre +  \". Tome precauciones inmediatas. +\\n + Por su seguridad se activara la ventilacion al maximo y se cerrara la valvula de suministro\",\n            icon: \"error\",\n            confirmButtonText: \"Entendido\",\n            confirmButtonColor: \"#ff0000\",\n          }).then(() => {\n            scope.send({ payload: true });\n            alertActive = false; // Reinicia el estado de alerta despu칠s de cerrar\n          });\n        }\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 1340,
        "wires": [
            [
                "443e1fd8f52537e1",
                "0935314888241822"
            ]
        ]
    },
    {
        "id": "1a8a6ca38a96564a",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "c08ac066cd43cd8b",
        "name": "IMAGEN TANQUE GAS",
        "order": 4,
        "width": 5,
        "height": 3,
        "format": "<img src=\"https://tatsa.mx/wp-content/uploads/2023/01/tanques-de-carburacio204129n-02.webp\"\n     style=\"display: block; margin: auto;\">\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 590,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "0935314888241822",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "link out 4 P2",
        "mode": "link",
        "links": [
            "ca74fadd6bd71475"
        ],
        "x": 705,
        "y": 1400,
        "wires": []
    },
    {
        "id": "efed553a178bf503",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Valvula = False && fuga = True",
        "func": "let estadoValvula1 = flow.get(\"estado_valvula_p2\"); // true o false\nlet hayFuga = msg.fuga === true;\nlet alerta = false;\n\nif (estadoValvula1 === false && hayFuga) {\n    alerta = true;\n}\n\nmsg.alerta = alerta;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 1460,
        "wires": [
            [
                "a9a5113eef5c50e8"
            ]
        ]
    },
    {
        "id": "a97b15eeb61c85ee",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Guardar estado valvula en el flujo",
        "func": "flow.set(\"estado_valvula_p2\", msg.payload);\nreturn null; // no necesitamos enviar nada m치s\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "a9a5113eef5c50e8",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Valida alerta == true",
        "property": "alerta",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1900,
        "y": 1460,
        "wires": [
            [
                "66bb621a76a13186",
                "1a33f941b50e38d8"
            ]
        ]
    },
    {
        "id": "e6d0a9ecb0b56d5c",
        "type": "inject",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Disparador de valvula",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "valvula2",
        "payload": "false",
        "payloadType": "bool",
        "x": 860,
        "y": 1260,
        "wires": [
            [
                "01bb6204515db810"
            ]
        ]
    },
    {
        "id": "dcd6c9f22235b7c7",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "datosCiudad2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 1420,
        "wires": [
            [
                "e56e7699fb376330"
            ]
        ]
    },
    {
        "id": "66bb621a76a13186",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "function 3",
        "func": "msg.ciudad = flow.get(\"datosCiudad2\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1880,
        "y": 1520,
        "wires": [
            [
                "c69ead3cb476f0f4"
            ]
        ]
    },
    {
        "id": "82afbb8ecffc5f8b",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "function 4",
        "func": "// Obtener el objeto actual (o uno vac칤o si no existe a칰n)\nlet ciudad = flow.get(\"datosCiudad2\") || {};\n\n// Actualizar solo el campo \"concentracion\"\nciudad.concentracion = msg.payload.concentracion; // Ajusta seg칰n d칩nde tengas el valor\n\n// Guardar el objeto modificado nuevamente\nflow.set(\"datosCiudad2\", ciudad);\nlet prueba = flow.get(\"datosCiudad2\") || {};\nconsole.log(\"fuego\" , prueba);\n// (Opcional) Verificar\nmsg.ciudad = ciudad;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1340,
        "wires": [
            [
                "2fef373ea7a36588"
            ]
        ]
    },
    {
        "id": "b4e4c216c08fb7ec",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Estado critico",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "游댮 Cr칤tico\t",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 1620,
        "wires": [
            [
                "578392ba56197111"
            ]
        ]
    },
    {
        "id": "443e1fd8f52537e1",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 910,
        "y": 1340,
        "wires": [
            [
                "147599d650d9f7e9"
            ]
        ]
    },
    {
        "id": "083b1bbcdd5cd393",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "c08ac066cd43cd8b",
        "name": "Descripcion general",
        "order": 7,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .contenedor-horizontal {\n        display: flex;\n        align-items: center;\n        justify-content: space-around;\n        padding: 10px;\n        font-family: Arial, sans-serif;\n        text-align: center;\n        /* background-color: #f0f0f0; */\n        border-radius: 8px;\n        margin: 10px 20px;\n    }\n\n    .contenedor-horizontal div {\n        margin: 0 10px;\n    }\n\n    .etiqueta {\n        font-weight: bold;\n    }\n\n    .contenedor-horizontal p {\n        margin: 0;\n    }\n\n    .contenedor-horizontal p:first-child {\n        font-weight: bold;\n    }\n</style>\n\n<div class=\"contenedor-horizontal\">\n    <div>\n        <p>Nivel</p>\n        <p>{{msg.payload.nivel * 10 | number:2}}%</p>\n    </div>\n    <div>\n        <p>Presi칩n</p>\n        <p>{{msg.payload.presion | number:2}} PSI</p>\n    </div>\n    <div>\n        <p>Concentraci칩n</p>\n        <p>{{msg.payload.concentracion}} ppm</p>\n    </div>\n    <div>\n        <p>Direcci칩n</p>\n        <p>{{msg.payload.direccion}}</p>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1440,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "6d174ffebf23c487",
        "type": "join",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1070,
        "y": 1740,
        "wires": [
            [
                "374a51204e4fb67b"
            ]
        ]
    },
    {
        "id": "ded1b19d4795f763",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Set topic nivel",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "nivel",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 1740,
        "wires": [
            [
                "6d174ffebf23c487"
            ]
        ]
    },
    {
        "id": "374a51204e4fb67b",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Guardar datos",
        "func": "let datos = flow.get('datosCiudad2') || {};\n\nmsg.payload = {\n    nombre: datos.nombre,\n    concentracion: datos.concentracion,\n    direccion: datos.direccion,\n    presion: msg.payload.presion,\n    nivel: msg.payload.nivel\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1740,
        "wires": [
            [
                "083b1bbcdd5cd393"
            ]
        ]
    },
    {
        "id": "b7f7973b8078c7e1",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Validar consumo > 0",
        "property": "payload.consumo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 1620,
        "wires": [
            [
                "6c89d3b5757ae75b"
            ]
        ]
    },
    {
        "id": "343f4ce283c46eef",
        "type": "join",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Unir presion y consumo en payload",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 1660,
        "wires": [
            [
                "b7f7973b8078c7e1"
            ]
        ]
    },
    {
        "id": "6c89d3b5757ae75b",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Link enviar consumo P2",
        "mode": "link",
        "links": [
            "76eeba0af4176ccb"
        ],
        "x": 765,
        "y": 1660,
        "wires": []
    },
    {
        "id": "76eeba0af4176ccb",
        "type": "link in",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Link recibir consumo P2",
        "links": [
            "6c89d3b5757ae75b"
        ],
        "x": 815,
        "y": 1460,
        "wires": [
            [
                "2ced170761c1f3a6"
            ]
        ]
    },
    {
        "id": "c69ead3cb476f0f4",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "c08ac066cd43cd8b",
        "name": "Alerta fuga gas tanque cerrado",
        "order": 10,
        "width": 6,
        "height": 1,
        "format": "<script src=\"https://cdn.jsdelivr.net/npm/sweetalert2@11\"></script>\n\n<style>\n  body .swal2-popup {\n    font-family: Arial, sans-serif;\n    background: #262626;\n    color: #ffffff;\n    width: auto;\n    border-radius: 8px;\n    padding: 10px;\n  }\n\n  div:where(.swal2-icon).swal2-error {\n    border-color: #ffffff;\n    color: #ffffff;\n  }\n\n  .alert-container {\n    text-align: center;\n    font-size: 16px;\n    color: #ffffff;\n  }\n</style>\n\n<div class=\"alert-container\" id=\"alert-container2\"></div>\n\n<script>\n  (function(scope) {\n    scope.$watch('msg', function(msg) {\n      if (msg && msg.alerta === true && msg.ciudad) {\n        Swal.fire({\n          title: \"춰Fuga de Gas Detectada!\",\n          text: \"Se ha detectado una fuga de gas en: \" + msg.ciudad.nombre +\n            \". Tome precauciones inmediatas.\\nPor su seguridad se activar치 la ventilaci칩n al m치ximo y se cerrar치 la v치lvula de suministro.\",\n          icon: \"error\",\n          confirmButtonText: \"Entendido\",\n          confirmButtonColor: \"#ff0000\"\n        }).then(() => {\n          // Enviar un nuevo mensaje al flujo con alerta = false\n          scope.send({ alerta: false });\n        });\n      }\n    });\n  })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1890,
        "y": 1580,
        "wires": [
            [
                "7d03dde6b59bfa1b"
            ]
        ]
    },
    {
        "id": "ca74fadd6bd71475",
        "type": "link in",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "link in 3 P2",
        "links": [
            "0935314888241822"
        ],
        "x": 65,
        "y": 1900,
        "wires": [
            [
                "2bc08e92e116faf3"
            ]
        ]
    },
    {
        "id": "23cfb007dca1b014",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "b62f81231a279246",
        "name": "Slider ventilador P2",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .wrapper {\n        margin: 20px;\n        position: relative;\n        width: 87%;\n        height: 1.5rem;\n    }\n\n    .wrapper::before,\n    .wrapper::after {\n        content: '';\n        display: block;\n        position: absolute;\n        z-index: 99;\n        color: #fff;\n        height: 100%;\n        text-align: center;\n        font-size: 1.5rem;\n        line-height: 1;\n        padding: 0 0.75rem;\n        pointer-events: none;\n    }\n\n    .wrapper::before {\n        left: 0;\n        top: 0;\n    }\n\n    .wrapper::after {\n        right: 0;\n        top: 0;\n    }\n\n    input[type=\"range\"] {\n        position:absolute;\n        -webkit-appearance: none;\n        appearance: none;\n        background-color: rgba(255, 255, 255, 0.2);\n        top: 50%;\n        left: 50%;\n        margin: 0;\n        width: 15rem;\n        height: 3.5rem;\n        transform: translate(-50%, -50%);\n        border-radius: 1rem;\n        overflow: hidden;\n        cursor: col-resize;\n    }\n\n    input[type=\"range\"]::-webkit-slider-runnable-track {\n        background-color: rgba(255, 255, 255, 0.2);\n    }\n\n    input[type=\"range\"]::-webkit-slider-thumb {\n        -webkit-appearance: none;\n        appearance: none;\n        width: 0;\n        height: 0;\n        box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);\n    }\n\n    input[type=\"range\"]::-moz-range-thumb {\n        border: none;\n        width: 0;\n        height: 0;\n        box-shadow: -20rem 0 0 20rem rgba(255, 255, 255, 0.2);\n    }\n</style>\n\n<div class=\"wrapper\">\n    <input type=\"range\" min=\"0\" max=\"100\" step=\"1\" value=\"50\" ng-model=\"sliderValue2\" />\n</div>\n\n<script>\n    (function(scope) {\n    // Actualiza el slider cuando cambia\n    scope.$watch('sliderValue2', function(newValue) {\n    if (newValue !== undefined) {\n    scope.send({ payload: newValue });\n    }\n    });\n    \n    // Escucha nuevos valores desde el exterior (por ejemplo, Node-RED o backend)\n    scope.on('payload', function(msg) {\n    if (msg && typeof msg.payload === 'number') {\n    scope.sliderValue2 = msg.payload;\n    }\n    });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 670,
        "y": 1860,
        "wires": [
            [
                "a25c13cdb96c8218"
            ]
        ]
    },
    {
        "id": "aa203185084de920",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "velocidad ventilador = 100",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "100",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1900,
        "wires": [
            [
                "23cfb007dca1b014",
                "a25c13cdb96c8218"
            ]
        ]
    },
    {
        "id": "2bc08e92e116faf3",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Si estado es True",
        "property": "payload.estado",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 1900,
        "wires": [
            [
                "aa203185084de920"
            ]
        ]
    },
    {
        "id": "26555eba38a5eb5b",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Obtener datos de var flujo",
        "func": "msg.ciudad = flow.get(\"datosCiudad1\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 860,
        "wires": [
            [
                "aef2b33a57ae564e"
            ]
        ]
    },
    {
        "id": "9d19a3b315c6a6c8",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Obtener datos de var flujo",
        "func": "msg.ciudad = flow.get(\"datosCiudad2\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1660,
        "wires": [
            [
                "084c6441ee8e9f44"
            ]
        ]
    },
    {
        "id": "ca4b52459d6d4317",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Si estado es True",
        "property": "alerta",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 210,
        "y": 1820,
        "wires": [
            [
                "aa203185084de920"
            ]
        ]
    },
    {
        "id": "7d03dde6b59bfa1b",
        "type": "debug",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1920,
        "y": 1720,
        "wires": []
    },
    {
        "id": "d9b2016a8168c0da",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Link envia alerta P1",
        "mode": "link",
        "links": [
            "902a80765e1907ad"
        ],
        "x": 2085,
        "y": 660,
        "wires": []
    },
    {
        "id": "9e859c70cca70c58",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "alerta",
                "pt": "msg",
                "to": "payload.estado",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "35d79753365ab065",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "property": "alerta",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "1d1bd6d13873be6a"
            ]
        ]
    },
    {
        "id": "902a80765e1907ad",
        "type": "link in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Link recibe alerta P1",
        "links": [
            "d9b2016a8168c0da"
        ],
        "x": 655,
        "y": 1040,
        "wires": [
            [
                "35d79753365ab065"
            ]
        ]
    },
    {
        "id": "1a33f941b50e38d8",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Link envia alerta P2",
        "mode": "link",
        "links": [
            "d01690597d7edb6b"
        ],
        "x": 2095,
        "y": 1460,
        "wires": []
    },
    {
        "id": "d01690597d7edb6b",
        "type": "link in",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "Link recibe alerta P2",
        "links": [
            "1a33f941b50e38d8"
        ],
        "x": 65,
        "y": 1820,
        "wires": [
            [
                "ca4b52459d6d4317"
            ]
        ]
    },
    {
        "id": "e57b0a5fa5a12ded",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "d6a565f559b0906a",
        "name": "Presion P1",
        "order": 6,
        "width": 5,
        "height": 3,
        "format": "<style>\n    .g-container {\n        width: 150px !important;\n        height: 250px !important;\n        margin-left: 35px;\n    }\n\n    .g-nums {\n        width: 96%;\n    }\n\n    .g-val {\n\n        left: 47%;\n        font-size: 15px;\n    }\n</style>\n\n\n<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"-g-angle:4; --container-size:4.4\">\n\n\n    <div class=\"g-plate\">\n        <div class=\"g-sector g-sector-normal\" style=\"transform: rotate(193deg) skew(291deg, 23deg);\"></div>\n        <div class=\"g-sector g-sector-high\" style=\"transform: rotate(329deg) skew(12deg,23deg);\"></div>\n        <div class=\"g-ticks\">\n            <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n        </div>\n        <div class=\"g-nums\">\n            <div class=\"g-num\" style=\"left: 23%;top: 71%;\">0</div>\n            <div class=\"g-num\" style=\"left: 13%;top: 56%;\">20</div>\n            <div class=\"g-num\" style=\"left: 13%;top: 39%;\">40</div>\n            <div class=\"g-num\" style=\"left: 19%;top: 24%;\">60</div>\n            <div class=\"g-num\" style=\"left: 31%;top: 14%;\">80</div>\n            <div class=\"g-num\" style=\"left: 47%;top: 10%;\">100</div>\n            <div class=\"g-num\" style=\"left: 63%;top: 14%;\">120</div>\n            <div class=\"g-num\" style=\"left: 74%;top: 25%;\">140</div>\n            <div class=\"g-num\" style=\"left: 79%;top: 40%;\">160</div>\n            <div class=\"g-num\" style=\"left: 78%;top: 56%;\">180</div>\n            <div class=\"g-num\" style=\"left:65%; top:71%;\">200</div>\n        </div>\n        <div class=\"g-label\">PRESI칍N</div>\n        <div class=\"g-needle\"></div>\n        <div class=\"g-needle-ring\"></div>\n\n        <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n\n    </div>\n\n\n</div>\n<script>\n    (function(scope) {\n    let min = 0;\n    let max = 200;\n\n    function actualizarGauge(presion) {\n        let presionTrunc = Math.trunc(presion * 100) / 100;\n        const v = Math.floor(((presionTrunc - min) / (max - min)) * 100);\n        document.getElementById('gauge_' + scope.$id).style.setProperty('--g-angle', v);\n        document.getElementById('gauge_val_' + scope.$id).innerText = presionTrunc;\n    }\n\n    scope.$watch('msg', function(msg) {\n       if (msg && msg.presion !== undefined) {\n        actualizarGauge(msg.presion);\n       }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 470,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "3680ed389112da9f",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "truncado",
        "func": "console.log(msg.presion);\nmsg.presion = Math.trunc( msg.payload * 100)/100 ;\nconsole.log(msg.presion + \"XD\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "46404e9ff2ae70e7",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "truncado",
        "func": "msg.payload = Math.trunc( msg.payload * 100)/100 ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1500,
        "wires": [
            [
                "0bb628b3cf316c54"
            ]
        ]
    },
    {
        "id": "0bb628b3cf316c54",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "c08ac066cd43cd8b",
        "name": "presionp2",
        "order": 6,
        "width": 5,
        "height": 3,
        "format": "<style>\n    .g-container {\n\n        width: 200px;\n        margin-left: 35px;\n    }\n\n    .g-nums {\n        width: 96%;\n    }\n\n    .g-val {\n\n        left: 47%;\n        font-size: 15px;\n    }\n</style>\n\n\n<div id=\"{{'gauge2_'+$id}}\" class=\"g-container\" style=\"-g-angle:4; --container-size:4.4\">\n\n\n    <div class=\"g-plate\">\n        <div class=\"g-sector g-sector-normal\" style=\"transform: rotate(193deg) skew(291deg, 23deg);\"></div>\n        <div class=\"g-sector g-sector-high\" style=\"transform: rotate(329deg) skew(12deg,23deg);\"></div>\n        <div class=\"g-ticks\">\n            <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n            <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n        </div>\n        <div class=\"g-nums\">\n            <div class=\"g-num\" style=\"left: 23%;top: 71%;\">0</div>\n            <div class=\"g-num\" style=\"left: 13%;top: 56%;\">20</div>\n            <div class=\"g-num\" style=\"left: 13%;top: 39%;\">40</div>\n            <div class=\"g-num\" style=\"left: 19%;top: 24%;\">60</div>\n            <div class=\"g-num\" style=\"left: 31%;top: 14%;\">80</div>\n            <div class=\"g-num\" style=\"left: 47%;top: 10%;\">100</div>\n            <div class=\"g-num\" style=\"left: 63%;top: 14%;\">120</div>\n            <div class=\"g-num\" style=\"left: 74%;top: 25%;\">140</div>\n            <div class=\"g-num\" style=\"left: 79%;top: 40%;\">160</div>\n            <div class=\"g-num\" style=\"left: 78%;top: 56%;\">180</div>\n            <div class=\"g-num\" style=\"left:65%; top:71%;\">200</div>\n        </div>\n        <div class=\"g-label\">PRESI칍N</div>\n        <div class=\"g-needle\"></div>\n        <div class=\"g-needle-ring\"></div>\n        <div id=\"{{'gauge2_val_'+$id}}\" class=\"g-val\"></div>\n    </div>\n\n\n</div>\n<script>\n    (function(scope) {\n        let min = 0;\n        let max = 200;\n\n        // Variable global para almacenar el 칰ltimo valor\n        let lastPayload2= null;\n\n        // Funci칩n para actualizar el 치ngulo\n        function updateGauge(value) {\n            const v = Math.floor(((value - min) / (max - min)) * 100);\n            document.getElementById('gauge2_' + scope.$id).style.setProperty('--g-angle', v);\n            document.getElementById('gauge2_val_' + scope.$id).innerText = value;\n        }\n\n        // Escucha el cambio de mensaje\n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                lastPayload2 = msg.payload; // Almacena el 칰ltimo valor recibido\n                updateGauge(lastPayload2);\n            }\n        });\n\n        // Manejar el evento de visibilidad de la p치gina\n        document.addEventListener(\"visibilitychange\", function() {\n            if (!document.hidden && lastPayload2 !== null) {\n                // Restaura el valor del gauge cuando se vuelve a la pesta침a\n                updateGauge(lastPayload2);\n            }\n        });\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "fb2ad3264e849b25",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "flow presionP1",
        "rules": [
            {
                "t": "set",
                "p": "presionP1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 720,
        "wires": [
            [
                "5c5ee89b04338ee9"
            ]
        ]
    },
    {
        "id": "0e3285607cbfc41d",
        "type": "ui_ui_control",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "events": "all",
        "x": 180,
        "y": 1060,
        "wires": [
            [
                "fcd0baf417f0fd56"
            ]
        ]
    },
    {
        "id": "d019ea55b5e3fe3a",
        "type": "link in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Link recibe actualizar presionP1",
        "links": [
            "5c5ee89b04338ee9"
        ],
        "x": 215,
        "y": 980,
        "wires": [
            [
                "fcd0baf417f0fd56"
            ]
        ]
    },
    {
        "id": "5c5ee89b04338ee9",
        "type": "link out",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Link actualizar presionP1",
        "mode": "link",
        "links": [
            "d019ea55b5e3fe3a"
        ],
        "x": 1055,
        "y": 720,
        "wires": []
    },
    {
        "id": "fcd0baf417f0fd56",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "function 5",
        "func": "msg.presion = flow.get(\"presionP1\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "e57b0a5fa5a12ded"
            ]
        ]
    },
    {
        "id": "dbee563e42a07af4",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "d6a565f559b0906a",
        "name": "Niveles",
        "order": 5,
        "width": 4,
        "height": 3,
        "format": "<div style=\"width: 100%; text-align: center;\">\n\n    <div class=\"cylinder-container-horizontal\">\n        <div class=\"cylinder-fill-horizontal\"\n             id=\"cylinderFill\"\n             ng-style=\"{'width': msg.payload + '%'}\">\n        </div>\n\n        <div class=\"cylinder-text-overlay\"\n             id=\"cylinderText\">\n            {{msg.payload | number:2}}%\n        </div>\n\n        <div class=\"cylinder-outline-horizontal\"></div>\n    </div>\n</div>\n\n<style>\n.cylinder-container-horizontal {\n    position: relative;\n    width: 200px;\n    height: 60px;\n    margin: auto;\n    margin-top: 60px;\n    background: #444;\n    border-radius: 30px;\n    overflow: hidden;\n    border: 2px solid #999;\n}\n\n.cylinder-fill-horizontal {\n    position: absolute;\n    left: 0;\n    height: 100%;\n    border-radius: 30px 0 0 30px;\n    transition: width 0.5s ease-in-out;\n    z-index: 0;\n}\n\n.cylinder-text-overlay {\n    position: absolute;\n    top: 50%;\n    left: 50%;\n    transform: translate(-50%, -50%);\n    font-weight: bold;\n    font-size: 16px;\n    z-index: 1;\n    pointer-events: none;\n    color: black;\n}\n\n.cylinder-outline-horizontal {\n    position: absolute;\n    width: 100%;\n    height: 100%;\n    border-radius: 30px;\n    box-shadow: inset 0 0 8px rgba(0,0,0,0.6);\n    z-index: 2;\n}\n</style>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(value) {\n        const fill = document.getElementById(\"cylinderFill\");\n        const text = document.getElementById(\"cylinderText\");\n        const val = parseFloat(value);\n\n        if (fill && text && !isNaN(val)) {\n            let bgColor = \"#ff1700\"; // por defecto\n            if (val >= 75) {\n                bgColor = \"#ffb600\";\n                color = \"black\";\n            } else if (val >= 50) {\n                bgColor = \"#ff8b00\";\n                color = \"black\";\n            } else if (val >= 25) {\n                bgColor = \"#ff5100\";\n                color = \"white\";\n            } else {\n                bgColor = \"#ff1700\";\n                color = \"white\";\n            }\n\n            fill.style.backgroundColor = bgColor;\n            text.style.color = color;\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "021bd1d8d3ad2b8e",
        "type": "inject",
        "z": "ed84d3e070727412",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c533dc8e307349f5",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "function 6",
        "func": "msg.payload = parseFloat((msg.payload * 10).toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 620,
        "wires": [
            [
                "dbee563e42a07af4"
            ]
        ]
    },
    {
        "id": "70f25ef050637b79",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "ad726ee97b3c56ec",
        "name": "Ventilador",
        "order": 2,
        "width": 4,
        "height": 4,
        "format": "<style>\n    .fan {\n        width: 120px;\n        height: 120px;\n        margin: 30px auto 0 auto;\n        background-color: #fff;\n        border: 1px solid #ccc;\n        border-radius: 10px;\n        box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n\n    /* Animaci칩n de giro, velocidad variable */\n    @keyframes spin {\n        from {\n            transform: rotate(0deg);\n        }\n\n        to {\n            transform: rotate(360deg);\n        }\n    }\n\n    .spinning {\n        animation-name: spin;\n        animation-iteration-count: infinite;\n        animation-timing-function: linear;\n    }\n\n    /* Texto de estado fuera del cuadro */\n    #status-container {\n        text-align: center;\n        margin-top: 10px;\n        font-family: Arial, sans-serif;\n        font-weight: bold;\n        font-size: 16px;\n        color: white;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        gap: 8px;\n        user-select: none;\n    }\n</style>\n\n<div>\n    <div class=\"fan\">\n        <svg id=\"fan-svg\" viewBox=\"0 0 64 64\" width=\"150\" height=\"150\" xmlns=\"http://www.w3.org/2000/svg\">\n            <circle cx=\"32\" cy=\"32\" r=\"5\" fill=\"#333\" />\n            <rect x=\"30\" y=\"10\" width=\"4\" height=\"20\" fill=\"#666\" />\n            <rect x=\"30\" y=\"34\" width=\"4\" height=\"20\" fill=\"#666\" />\n            <rect x=\"10\" y=\"30\" width=\"20\" height=\"4\" fill=\"#666\" />\n            <rect x=\"34\" y=\"30\" width=\"20\" height=\"4\" fill=\"#666\" />\n        </svg>\n    </div>\n    <div id=\"status-container\">\n        <span id=\"status-emoji\">游댮</span>\n        <span id=\"status-text\">Ventilaci칩n apagada</span>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n        const fan = document.getElementById('fan-svg');\n        const statusText = document.getElementById('status-text');\n        const statusEmoji = document.getElementById('status-emoji');\n\n        scope.$watch('msg', function(msg) {\n            if (!msg || msg.payload === undefined) return;\n\n            let speed = Number(msg.payload);\n\n            if (isNaN(speed) || speed <= 0) {\n                fan.style.animationDuration = '';\n                fan.classList.remove('spinning');\n                statusText.textContent = \"Ventilaci칩n apagada\";\n                statusEmoji.textContent = \"游댮\";\n                return;\n            }\n\n            let duration = 5 / speed;\n\n            if (duration < 0.1) duration = 0.1;\n            if (duration > 5) duration = 5;\n\n            fan.style.animationDuration = duration + 's';\n            fan.classList.add('spinning');\n            statusText.textContent = \"Ventilaci칩n encendida\";\n            statusEmoji.textContent = \"游릭\";\n        });\n    })(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1480,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "698251fd19d405c5",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "c08ac066cd43cd8b",
        "name": "Niveles",
        "order": 5,
        "width": 4,
        "height": 3,
        "format": "<div style=\"width: 100%; text-align: center;\">\n\n    <div class=\"cylinder-container-horizontal\">\n        <div class=\"cylinder-fill-horizontal\"\n             id=\"cylinderFill2\"\n             ng-style=\"{'width': msg.payload + '%'}\">\n        </div>\n\n        <div class=\"cylinder-text-overlay\"\n             id=\"cylinderText2\">\n            {{msg.payload | number:2}}%\n        </div>\n\n        <div class=\"cylinder-outline-horizontal\"></div>\n    </div>\n</div>\n\n<style>\n.cylinder-container-horizontal {\n    position: relative;\n    width: 200px;\n    height: 60px;\n    margin: auto;\n    margin-top: 60px;\n    background: #444;\n    border-radius: 30px;\n    overflow: hidden;\n    border: 2px solid #999;\n}\n\n.cylinder-fill-horizontal {\n    position: absolute;\n    left: 0;\n    height: 100%;\n    border-radius: 30px 0 0 30px;\n    transition: width 0.5s ease-in-out;\n    z-index: 0;\n}\n\n.cylinder-text-overlay {\n    position: absolute;\n    top: 50%;\n    left: 50%;\n    transform: translate(-50%, -50%);\n    font-weight: bold;\n    font-size: 16px;\n    z-index: 1;\n    pointer-events: none;\n    color: black;\n}\n\n.cylinder-outline-horizontal {\n    position: absolute;\n    width: 100%;\n    height: 100%;\n    border-radius: 30px;\n    box-shadow: inset 0 0 8px rgba(0,0,0,0.6);\n    z-index: 2;\n}\n</style>\n\n<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(value) {\n        const fill = document.getElementById(\"cylinderFill2\");\n        const text = document.getElementById(\"cylinderText2\");\n        const val = parseFloat(value);\n\n        if (fill && text && !isNaN(val)) {\n            let bgColor = \"#ff1700\"; // por defecto\n            if (val >= 75) {\n                bgColor = \"#ffb600\";\n                color = \"black\";\n            } else if (val >= 50) {\n                bgColor = \"#ff8b00\";\n                color = \"black\";\n            } else if (val >= 25) {\n                bgColor = \"#ff5100\";\n                color = \"white\";\n            } else {\n                bgColor = \"#ff1700\";\n                color = \"white\";\n            }\n\n            fill.style.backgroundColor = bgColor;\n            text.style.color = color;\n        }\n    });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1000,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "a0b9da4bff51733f",
        "type": "function",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "name": "function 7",
        "func": "msg.payload = parseFloat((msg.payload * 10).toFixed(2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 1420,
        "wires": [
            [
                "698251fd19d405c5"
            ]
        ]
    },
    {
        "id": "a25c13cdb96c8218",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "b1ec3d039689d046",
        "group": "b62f81231a279246",
        "name": "Ventilador P2",
        "order": 2,
        "width": 4,
        "height": 4,
        "format": "<style>\n    .fan {\n        width: 120px;\n        height: 120px;\n        margin: 30px auto 0 auto;\n        background-color: #fff;\n        border: 1px solid #ccc;\n        border-radius: 10px;\n        box-shadow: 0 2px 5px rgba(0,0,0,0.1);\n        display: flex;\n        align-items: center;\n        justify-content: center;\n    }\n\n    /* Animaci칩n de giro, velocidad variable */\n    @keyframes spin {\n        from {\n            transform: rotate(0deg);\n        }\n\n        to {\n            transform: rotate(360deg);\n        }\n    }\n\n    .spinning {\n        animation-name: spin;\n        animation-iteration-count: infinite;\n        animation-timing-function: linear;\n    }\n\n    /* Texto de estado fuera del cuadro */\n    #status-container {\n        text-align: center;\n        margin-top: 10px;\n        font-family: Arial, sans-serif;\n        font-weight: bold;\n        font-size: 16px;\n        color: white;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        gap: 8px;\n        user-select: none;\n    }\n</style>\n\n<div>\n    <div class=\"fan\">\n        <svg id=\"fan-svg2\" viewBox=\"0 0 64 64\" width=\"150\" height=\"150\" xmlns=\"http://www.w3.org/2000/svg\">\n            <circle cx=\"32\" cy=\"32\" r=\"5\" fill=\"#333\" />\n            <rect x=\"30\" y=\"10\" width=\"4\" height=\"20\" fill=\"#666\" />\n            <rect x=\"30\" y=\"34\" width=\"4\" height=\"20\" fill=\"#666\" />\n            <rect x=\"10\" y=\"30\" width=\"20\" height=\"4\" fill=\"#666\" />\n            <rect x=\"34\" y=\"30\" width=\"20\" height=\"4\" fill=\"#666\" />\n        </svg>\n    </div>\n    <div id=\"status-container2\">\n        <span id=\"status-emoji2\">游댮</span>\n        <span id=\"status-text2\">Ventilaci칩n apagada</span>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n        const fan = document.getElementById('fan-svg2');\n        const statusText = document.getElementById('status-text2');\n        const statusEmoji = document.getElementById('status-emoji2');\n\n        scope.$watch('msg', function(msg) {\n            if (!msg || msg.payload === undefined) return;\n\n            let speed = Number(msg.payload);\n\n            if (isNaN(speed) || speed <= 0) {\n                fan.style.animationDuration = '';\n                fan.classList.remove('spinning');\n                statusText.textContent = \"Ventilaci칩n apagada\";\n                statusEmoji.textContent = \"游댮\";\n                return;\n            }\n\n            let duration = 5 / speed;\n\n            if (duration < 0.1) duration = 0.1;\n            if (duration > 5) duration = 5;\n\n            fan.style.animationDuration = duration + 's';\n            fan.classList.add('spinning');\n            statusText.textContent = \"Ventilaci칩n encendida\";\n            statusEmoji.textContent = \"游릭\";\n        });\n    })(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 850,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "a650bf9d83e4ec4a",
        "type": "mqtt out",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70113bd572087aab",
        "x": 2050,
        "y": 80,
        "wires": []
    },
    {
        "id": "6ab5784e6c744d2d",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set datos a payload y su topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":1,\"nombre\":\"MACHALA SUCURSAL NORTE\",\"concentracion\":100,\"direccion\":\"Calle primera y segunda\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/punto1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "a650bf9d83e4ec4a"
            ]
        ]
    },
    {
        "id": "0ac0b9d3f7b20ef1",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Disparador datos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "6ab5784e6c744d2d"
            ]
        ]
    },
    {
        "id": "59480978506aa25e",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Generar Presi칩n",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "presion",
        "payload": "{\"estado\":false}",
        "payloadType": "json",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "c446106c6309cc8d"
            ]
        ]
    },
    {
        "id": "c446106c6309cc8d",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Presi칩n",
        "low": "15",
        "high": "15",
        "inte": "true",
        "property": "presion",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "55111d96b4599d19",
                "c067b2ee2268df33"
            ]
        ]
    },
    {
        "id": "037577b4694f7516",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Consumir gas",
        "low": "0",
        "high": "1",
        "inte": "false",
        "property": "consumo",
        "x": 840,
        "y": 280,
        "wires": [
            [
                "d75804f66ab62f96",
                "10b897910f81482b"
            ]
        ]
    },
    {
        "id": "1076149b27138956",
        "type": "function",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Calcular presion resultante",
        "func": "let presion = flow.get(\"ppunto1\") ; \nlet consumo = msg.consumo;\n\n\nif (presion>0){\n    flow.set(\"ppunto1\", (presion - consumo));\n}\n\nmsg.presionr = flow.get(\"ppunto1\"); \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 160,
        "wires": [
            [
                "d75804f66ab62f96"
            ]
        ]
    },
    {
        "id": "0f379a02def92561",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Disparador de consumo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "31b8113f5e28d529"
            ]
        ]
    },
    {
        "id": "461a6de532021279",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set presion topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/punto1/presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 140,
        "wires": [
            [
                "a650bf9d83e4ec4a"
            ]
        ]
    },
    {
        "id": "ecd44b739172d337",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set consumo a topic consumo",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/punto1/consumo",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "consumo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "presionr",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 220,
        "wires": [
            [
                "a650bf9d83e4ec4a"
            ]
        ]
    },
    {
        "id": "3a4720e3968a645f",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set presion a topic presion",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/punto1/presion",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "presionr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "consumo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1860,
        "y": 280,
        "wires": [
            [
                "a650bf9d83e4ec4a"
            ]
        ]
    },
    {
        "id": "d75804f66ab62f96",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Validar presionr > 0",
        "property": "presionr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1590,
        "y": 280,
        "wires": [
            [
                "ecd44b739172d337",
                "3a4720e3968a645f"
            ]
        ]
    },
    {
        "id": "55111d96b4599d19",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set ppunto a payload",
        "rules": [
            {
                "t": "set",
                "p": "ppunto1",
                "pt": "flow",
                "to": "presion",
                "tot": "msg"
            }
        ],
        "x": 500,
        "y": 220,
        "wires": [
            [
                "037577b4694f7516"
            ]
        ]
    },
    {
        "id": "c067b2ee2268df33",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Validar presion > 0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "461a6de532021279"
            ]
        ]
    },
    {
        "id": "48c9d21b26acf77a",
        "type": "mqtt in",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "",
        "topic": "admin123/cilindros/norte/valvula",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "8565c56ba519a0be"
            ]
        ]
    },
    {
        "id": "8565c56ba519a0be",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Mover payload a valvula",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "valvulap1",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "d756e4ac2a0679d1"
            ]
        ]
    },
    {
        "id": "31b8113f5e28d529",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Mover payload a consumo",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "consumo",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "d756e4ac2a0679d1"
            ]
        ]
    },
    {
        "id": "d756e4ac2a0679d1",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Si valvula == consumo (TRUE)",
        "property": "valvulap1",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "consumo",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 380,
        "wires": [
            [
                "14c265f16e9267eb"
            ]
        ]
    },
    {
        "id": "14c265f16e9267eb",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "consumo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "037577b4694f7516"
            ]
        ]
    },
    {
        "id": "b477bb105718138e",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "1db8133a62cab60c",
        "name": "SIMULAR FUGA DE GAS PUNTO 1",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "admin123/punto1/sensores/fuga",
        "payload": "{\"id\":1,\"concentracion\":1000,\"estado\":true}",
        "payloadType": "json",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "e9174388a10ad829",
                "86a3598925e12381"
            ]
        ]
    },
    {
        "id": "e9174388a10ad829",
        "type": "mqtt out",
        "z": "74273795d1e74a6e",
        "g": "1db8133a62cab60c",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70113bd572087aab",
        "x": 510,
        "y": 480,
        "wires": []
    },
    {
        "id": "6e84991db96a8aeb",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Fuga",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "037577b4694f7516"
            ]
        ]
    },
    {
        "id": "e53014b8fc5a1fc2",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "1db8133a62cab60c",
        "name": "SIMULAR FUGA DE GAS PUNTO 1",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "admin123/punto1/sensores/fuga",
        "payload": "{\"id\":1,\"concentracion\":100,\"estado\":false}",
        "payloadType": "json",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "86a3598925e12381",
                "e9174388a10ad829"
            ]
        ]
    },
    {
        "id": "10b897910f81482b",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "",
        "property": "payload.estado",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "null"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 990,
        "y": 220,
        "wires": [
            [
                "1076149b27138956"
            ],
            [
                "1076149b27138956"
            ],
            [
                "807c738004bc73a3"
            ]
        ]
    },
    {
        "id": "807c738004bc73a3",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "No consume",
        "rules": [
            {
                "t": "set",
                "p": "consumo",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 240,
        "wires": [
            [
                "1076149b27138956"
            ]
        ]
    },
    {
        "id": "86a3598925e12381",
        "type": "link out",
        "z": "74273795d1e74a6e",
        "g": "1db8133a62cab60c",
        "name": "Link envia fuga",
        "mode": "link",
        "links": [
            "bb6a6c959a605573"
        ],
        "x": 465,
        "y": 520,
        "wires": []
    },
    {
        "id": "bb6a6c959a605573",
        "type": "link in",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Link recibe fuga",
        "links": [
            "86a3598925e12381"
        ],
        "x": 695,
        "y": 300,
        "wires": [
            [
                "037577b4694f7516"
            ]
        ]
    },
    {
        "id": "bdf388fe84f5929e",
        "type": "mqtt out",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70113bd572087aab",
        "x": 2050,
        "y": 640,
        "wires": []
    },
    {
        "id": "abbc73519a43cf40",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Set datos a payload y su topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":2,\"nombre\":\"MACHALA SUCURSAL SUR\",\"concentracion\":100,\"direccion\":\"Calle primavera y barceaba\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/punto2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 640,
        "wires": [
            [
                "bdf388fe84f5929e"
            ]
        ]
    },
    {
        "id": "b64c79cbb1963c68",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Disparador datos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "abbc73519a43cf40"
            ]
        ]
    },
    {
        "id": "ee85d086284b972d",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Generar Presi칩n",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "presion",
        "payload": "{\"estado\":false}",
        "payloadType": "json",
        "x": 190,
        "y": 700,
        "wires": [
            [
                "cf654264896d33aa"
            ]
        ]
    },
    {
        "id": "cf654264896d33aa",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Presi칩n",
        "low": "15",
        "high": "15",
        "inte": "true",
        "property": "presion",
        "x": 380,
        "y": 700,
        "wires": [
            [
                "29b2c3035b6c3512",
                "70b59a5e52e1da6d"
            ]
        ]
    },
    {
        "id": "7055b65fe7c82bc4",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Consumir gas",
        "low": "1",
        "high": "1",
        "inte": "false",
        "property": "consumo",
        "x": 840,
        "y": 840,
        "wires": [
            [
                "824c9e7b9d877577",
                "ecbd08dd8175dfb3"
            ]
        ]
    },
    {
        "id": "882c1868ae840680",
        "type": "function",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Calcular presion resultante",
        "func": "let presion = flow.get(\"ppunto_p2\") ; \nlet consumo = msg.consumo;\n\n\nif (presion>0){\n    flow.set(\"ppunto_p2\", (presion - consumo));\n}\n\nmsg.presionr = flow.get(\"ppunto_p2\"); \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 720,
        "wires": [
            [
                "824c9e7b9d877577"
            ]
        ]
    },
    {
        "id": "0c4658f6189f0708",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Disparador de consumo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 940,
        "wires": [
            [
                "1aafba5141555154"
            ]
        ]
    },
    {
        "id": "c26ca30ae6ead40b",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Set presion topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/punto2/presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 700,
        "wires": [
            [
                "bdf388fe84f5929e"
            ]
        ]
    },
    {
        "id": "dd08bdda4cc7dcf9",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Set consumo a topic consumo",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/punto2/consumo",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "consumo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "presionr",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 780,
        "wires": [
            [
                "bdf388fe84f5929e"
            ]
        ]
    },
    {
        "id": "85ef10671fbcda12",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Set presion a topic presion",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/punto2/presion",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "presionr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "consumo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 840,
        "wires": [
            [
                "bdf388fe84f5929e"
            ]
        ]
    },
    {
        "id": "824c9e7b9d877577",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Validar presionr > 0",
        "property": "presionr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1570,
        "y": 840,
        "wires": [
            [
                "dd08bdda4cc7dcf9",
                "85ef10671fbcda12"
            ]
        ]
    },
    {
        "id": "29b2c3035b6c3512",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Set ppunto a payload",
        "rules": [
            {
                "t": "set",
                "p": "ppunto_p2",
                "pt": "flow",
                "to": "presion",
                "tot": "msg"
            }
        ],
        "x": 500,
        "y": 780,
        "wires": [
            [
                "7055b65fe7c82bc4"
            ]
        ]
    },
    {
        "id": "70b59a5e52e1da6d",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Validar presion > 0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "c26ca30ae6ead40b"
            ]
        ]
    },
    {
        "id": "a0185919abbf334f",
        "type": "mqtt in",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "",
        "topic": "admin123/cilindros/punto2/valvula",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "70113bd572087aab",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 880,
        "wires": [
            [
                "d3185f0e1e4a21da"
            ]
        ]
    },
    {
        "id": "d3185f0e1e4a21da",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Mover payload a valvula",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "valvulap2",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 880,
        "wires": [
            [
                "6c9312ae69513302"
            ]
        ]
    },
    {
        "id": "1aafba5141555154",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Mover payload a consumo",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "consumo",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 940,
        "wires": [
            [
                "6c9312ae69513302"
            ]
        ]
    },
    {
        "id": "6c9312ae69513302",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Si valvula == consumo (TRUE)",
        "property": "valvulap2",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "consumo",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 950,
        "y": 940,
        "wires": [
            [
                "c9a23152d8e93a29"
            ]
        ]
    },
    {
        "id": "c9a23152d8e93a29",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "consumo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 940,
        "wires": [
            [
                "7055b65fe7c82bc4"
            ]
        ]
    },
    {
        "id": "bb50623ca3650235",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Fuga",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "7055b65fe7c82bc4"
            ]
        ]
    },
    {
        "id": "ecbd08dd8175dfb3",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "",
        "property": "payload.estado",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "null"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 990,
        "y": 780,
        "wires": [
            [
                "882c1868ae840680"
            ],
            [
                "882c1868ae840680"
            ],
            [
                "429f2eeec85a809f"
            ]
        ]
    },
    {
        "id": "429f2eeec85a809f",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "No consume",
        "rules": [
            {
                "t": "set",
                "p": "consumo",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 800,
        "wires": [
            [
                "882c1868ae840680"
            ]
        ]
    },
    {
        "id": "b54d4a5e11474111",
        "type": "link in",
        "z": "74273795d1e74a6e",
        "g": "002439cbc743be15",
        "name": "Link recibe fuga punto 2",
        "links": [
            "6286436424c36dd0"
        ],
        "x": 685,
        "y": 920,
        "wires": [
            [
                "7055b65fe7c82bc4"
            ]
        ]
    },
    {
        "id": "60534678f991e6f9",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "b717994f86bfd42c",
        "name": "SIMULAR FUGA DE GAS PUNTO 2",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "admin123/punto2/sensores/fuga",
        "payload": "{\"id\":2,\"concentracion\":1000,\"estado\":true}",
        "payloadType": "json",
        "x": 240,
        "y": 1040,
        "wires": [
            [
                "968e399859c072d7",
                "6286436424c36dd0"
            ]
        ]
    },
    {
        "id": "968e399859c072d7",
        "type": "mqtt out",
        "z": "74273795d1e74a6e",
        "g": "b717994f86bfd42c",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70113bd572087aab",
        "x": 510,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d3f96eaf8900312e",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "b717994f86bfd42c",
        "name": "SIMULAR FUGA DE GAS PUNTO 2",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "admin123/punto2/sensores/fuga",
        "payload": "{\"id\":2,\"concentracion\":100,\"estado\":false}",
        "payloadType": "json",
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "6286436424c36dd0",
                "968e399859c072d7"
            ]
        ]
    },
    {
        "id": "6286436424c36dd0",
        "type": "link out",
        "z": "74273795d1e74a6e",
        "g": "b717994f86bfd42c",
        "name": "Link envia fuga punto 2",
        "mode": "link",
        "links": [
            "b54d4a5e11474111"
        ],
        "x": 465,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5be65dbce585fe33",
        "type": "join",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "4542ed6e5cdbd9e2"
            ]
        ]
    },
    {
        "id": "df90f3d35b7476e3",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "40",
        "payloadType": "num",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "3f7be114a53332cb",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "33",
        "payloadType": "num",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "0ff794d961eb9804",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "1000",
        "payloadType": "num",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "4542ed6e5cdbd9e2",
        "type": "debug",
        "z": "1fddb5bbb8ba27b8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "9086c2496534a3a8",
        "type": "comment",
        "z": "1fddb5bbb8ba27b8",
        "name": "Combining three payload into one object ",
        "info": "",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd72c5cbed695966",
        "type": "ui_template",
        "z": "1fddb5bbb8ba27b8",
        "group": "3ca910b5.3d50a",
        "name": "gauge",
        "order": 1,
        "width": 2,
        "height": 2,
        "format": "\n<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"--g-angle:0; --container-size:3;\">\n    <div id=\"bgr\" class=\"g-body\">\n        <div class=\"g-ring\">\n            <div class=\"g-plate\">\n                <div class=\"g-ticks\">\n                    <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n                </div>\n                <div class=\"g-label\">Temperature</div>\n                <div class=\"g-needle\"></div>\n                <div class=\"g-needle-ring\"></div>\n                <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n            </div>\n        </div>\n    </div>\n</div>\n<script>\n  (function(scope) {\n    let min = 0;\n    let max = 100;\n    scope.$watch('msg', function(msg) {\n        if (msg) {\n            const v = Math.floor(((msg.payload - min) / (max - min)) * 100);\n            document.getElementById('gauge_'+scope.$id).style.setProperty('--g-angle', v);\n            document.getElementById('gauge_val_'+scope.$id).innerText = msg.payload;\n        }   \n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 730,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b21d274b8315c0f7",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 370,
        "y": 620,
        "wires": [
            [
                "77202a2c1dea74ec",
                "4726db59163e1b14",
                "621f5130273563c7"
            ]
        ]
    },
    {
        "id": "77202a2c1dea74ec",
        "type": "random",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 580,
        "y": 600,
        "wires": [
            [
                "fd72c5cbed695966"
            ]
        ]
    },
    {
        "id": "9aa3095c7d603553",
        "type": "ui_template",
        "z": "1fddb5bbb8ba27b8",
        "group": "3ca910b5.3d50a",
        "name": "gauge",
        "order": 8,
        "width": 3,
        "height": 2,
        "format": "<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"--g-angle:0; --container-size:4\">\n    <div id=\"bgr\" class=\"g-body\">\n        <div class=\"g-ring\">\n            <div class=\"g-plate\">\n                \n                <div class=\"g-ticks\">\n                    <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n\n                </div>\n                <div class=\"g-nums\">\n                    <div class=\"g-num\" style=\"left:24%; top:70%;\">0</div>\n                    <div class=\"g-num\" style=\"left:20%; top:26%;\">30</div>\n                    <div class=\"g-num\" style=\"left:47%; top:11%;\">50</div>\n                    <div class=\"g-num\" style=\"left:74%; top:26%;\">70</div>\n                    <div class=\"g-num\" style=\"left:65%; top:71%;\">100</div>\n                </div>\n                <div class=\"g-label\">Temperature</div>\n                <div class=\"g-needle\"></div>\n                <div class=\"g-needle-ring\"></div>\n                <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n            </div>\n            <div class=\"g-rivets\">\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                    <div class=g-rivet></div>\n                </div>\n        </div>\n    </div>\n</div>\n<script>\n    (function(scope) {\n    let min = 0;\n    let max = 100;\n    scope.$watch('msg', function(msg) {\n        if (msg) {\n            const v = Math.floor(((msg.payload - min) / (max - min)) * 100);\n            document.getElementById('gauge_'+scope.$id).style.setProperty('--g-angle', v);\n            document.getElementById('gauge_val_'+scope.$id).innerText = msg.payload;\n        }   \n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 730,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4726db59163e1b14",
        "type": "random",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "9aa3095c7d603553"
            ]
        ]
    },
    {
        "id": "c351447745138c19",
        "type": "ui_template",
        "z": "1fddb5bbb8ba27b8",
        "group": "3ca910b5.3d50a",
        "name": "gauge-style",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<style id=\"hotNipi-gauge\">\n:root{\n    --needle-color:#001100;\n    --sec-high-color:#ff00004f;\n    --sec-normal-color:#00ff004f;\n}\n.g-container {\n    padding-top: 3px;\n    padding-bottom: 3px;\n    width: 100%;\n    height: 100%;\n    position: relative;\n    display: flex;\n    justify-content: center;\n    align-items: center;\n    user-select:none;\n}\n    \n.g-body{\n    width:98%;\n    height:98%;\n    border-radius:15%;\n    position:relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n    box-shadow: 0px 5px 8px #00000045;\n    background:linear-gradient(0deg, rgba(78,78,78,1) 0%, rgba(215,215,215,1) 99%, rgba(236,236,236,1) 100%);\n}\n\n.g-body::before {    \n    content: \"\";\n    background-image: url(\"data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==\"); \n    background-repeat: repeat;\n    position: absolute;\n    top: 0px;\n    right: 0px;\n    bottom: 0px;\n    left: 0px;\n    opacity: 0.1;\n    border-radius:15%;\n}\n\n.g-ring{\n    width:90%;\n    height:90%;\n    border-radius:50%;\n    position:relative;\n    display: flex;\n    align-content: center;\n    align-items: center;\n    justify-content: center;\n   \n    background:linear-gradient(180deg, rgba(78,78,78,1) 0%, rgba(215,215,215,1) 99%, rgba(236,236,236,1) 100%);;\n}\n.g-plate {\n    overflow:hidden;\n    width: 90%;\n    height: 90%;\n    border-radius: 50%;\n    position: relative;\n    box-shadow: inset 0 0 15px black;\n    background: radial-gradient(circle, #dd8400 3%, rgb(196 205 209) 1%, rgb(177 183 186) 40%, rgb(108 114 120) 100%);\n}\n.g-sector{\n    width: 100%;\n    height: 100%;\n    position: absolute;\n    top: 50%;\n    left: 50%;\n   \n    transform-origin: 0 0;\n}\n.g-sector-high {\n    background: var(--sec-high-color);\n    transform: rotate(329deg) skew(12deg, 23deg);\n}\n.g-sector-normal {\n    background:var(--sec-normal-color);\n    transform: rotate(329deg) skew(12deg, 23deg);\n}\n.g-ticks {\n    position: absolute;\n    top:0;\n    left:0;\n    width: 100%;\n    height: 100%;\n    filter: drop-shadow(2px 4px 6px black);\n}\n.g-tick {\n    transform: rotate(calc(27deg * var(--ga-tick) - 71deg));\n    background: #000;\n    position: relative;\n    left: 0;\n    top: 50%;\n    width: 100%;\n    height: 1%;\n    margin-bottom: -1%;\n    background: linear-gradient(90deg,rgba(0,0,0,0) 0,rgba(0,0,0,0) 2%,rgb(0 0 0 / 60%) 2%,rgb(0 0 0 / 60%) 10%,rgba(0,0,0,0) 10%);\n}\n.g-num {\n    position: absolute;\n}\n.g-nums {\n    position: absolute;\n    top:0;\n    width: 100%;\n    height: 100%;\n    color: #000000a1;\n    font-size: calc(var(--container-size) * 16%);\n    font-weight: 500;\n    filter: drop-shadow(2px 4px 6px black);\n}\n.g-needle {\n    transform: rotate(calc(270deg * calc(var(--g-angle, 0deg) / 99) - 45deg));\n    transition: transform 1s;\n    background: #000;\n    position: absolute;\n    left: 0;\n    top: 49%;\n    width: 100%;\n    height: 2%;\n    filter:drop-shadow(0px 1px 3px #00000080);\n    background: linear-gradient(90deg,rgba(2,0,36,0) 0,rgba(0,0,0,0) 15%,var(--needle-color) 15%,var(--needle-color) 50%,rgba(0,0,0,0) 50%);\n}\n.g-needle-ring {\n    position: absolute;\n    width: calc(var(--container-size) * 1.5%);\n    height: calc(var(--container-size) * 1.5%);\n    top: 50%;\n    left: 50%;\n    background: var(--needle-color);\n    border-radius: 50%;\n    transform: translate(-50%, -50%);\n    box-shadow: 0 1px 4px #0000009c;\n}\n.g-val{\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    bottom: 8%;\n    width: 80px;\n    transform: translateX(-50%);\n    font-family: monospace;\n    font-size:  calc(var(--container-size) * 40%);\n    color: #000000a1;\n    filter: drop-shadow(2px 3px 2px #00000080);\n}\n.g-label{\n    position: absolute;\n    text-align: center;\n    left: 50%;\n    top: 55%;\n    width: 100%;\n    transform: translateX(-50%);\n    font-family: monospace;\n    font-size:  calc(var(--container-size) * 18%);\n    color: #000000a1;\n    filter: drop-shadow(2px 3px 2px #00000080);\n}\n.g-rivets{\n    position: absolute;\n    left:0;\n    top:0;\n    width: 100%;\n    height: 100%;\n}\n\n.g-rivet {\n    position: absolute;\n    width: calc(var(--container-size) * 2px);\n    height: calc(var(--container-size) * 2px);\n    border-radius: 50px;\n    background: linear-gradient(135deg, #adadad 0%,#d3d3d3 51%,#d1d1d1 68%,#8c8c8c 100%);\n    box-shadow: 0px 2px 4px #000, -1px -1px 5px rgba(0,0,0,0.2);\n    border: 1px solid rgba(255,255,255,0.1);\n}\n.g-rivet:nth-child(1){\n    top:calc(var(--container-size) * 1.5px);\n    left:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(2){\n    top:calc(var(--container-size) * 1.5px);\n    right:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(3){\n    bottom:calc(var(--container-size) * 1.5px);\n    left:calc(var(--container-size) * 1.5px);\n}\n.g-rivet:nth-child(4){\n    bottom:calc(var(--container-size) * 1.5px);\n    right:calc(var(--container-size) * 1.5px);\n}\n\n.g-rivet::before {\n    content: '';\n    position: absolute;\n    left: 50%;\n    top: 50%;\n    width: calc(var(--container-size) * 10%);\n    height: calc(var(--container-size) * 10%);\n    box-shadow: inset 0px 1px 2px #222;\n    transform: translate(-50%, -50%);\n    border-radius: 50%;\n    border-bottom: 1px solid rgba(255,255,255,0.3);\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "621f5130273563c7",
        "type": "random",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "low": 1,
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 580,
        "y": 640,
        "wires": [
            [
                "83600c0b876a7095"
            ]
        ]
    },
    {
        "id": "83600c0b876a7095",
        "type": "ui_template",
        "z": "1fddb5bbb8ba27b8",
        "group": "3ca910b5.3d50a",
        "name": "gauge",
        "order": 3,
        "width": 2,
        "height": 2,
        "format": "<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"--g-angle:0; --container-size:3\">\n    <div id=\"bgr\" class=\"g-body\">\n        <div class=\"g-ring\">\n            <div class=\"g-plate\">\n                <div class=\"g-ticks\">\n                    <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n\n                </div>\n                <div class=\"g-nums\">\n                    <div class=\"g-num\" style=\"left:24%; top:70%;\">0</div>\n                    <div class=\"g-num\" style=\"left:20%; top:26%;\">30</div>\n                    <div class=\"g-num\" style=\"left:47%; top:11%;\">50</div>\n                    <div class=\"g-num\" style=\"left:74%; top:26%;\">70</div>\n                    <div class=\"g-num\" style=\"left:65%; top:71%;\">100</div>\n                </div>\n                <div class=\"g-label\">Temperature</div>\n                <div class=\"g-needle\"></div>\n                <div class=\"g-needle-ring\"></div>\n                <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n            </div>\n        </div>\n    </div>\n</div>\n<script>\n    (function(scope) {\n    let min = 0;\n    let max = 100;\n    scope.$watch('msg', function(msg) {\n        if (msg) {\n            const v = Math.floor(((msg.payload - min) / (max - min)) * 100);\n            document.getElementById('gauge_'+scope.$id).style.setProperty('--g-angle', v);\n            document.getElementById('gauge_val_'+scope.$id).innerText = msg.payload;\n        }   \n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 730,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "eb080df2e58aef8a",
        "type": "ui_template",
        "z": "1fddb5bbb8ba27b8",
        "group": "2c0d82c5cbab11fd",
        "name": "gauge",
        "order": 2,
        "width": 5,
        "height": 3,
        "format": "<style>\n\n.g-container{\n\nwidth: 200px;\nmargin-left:35px;\n}\n\n.g-nums{\n    width: 96%;\n}\n.g-val {\n\nleft: 47%;\nfont-size: 15px;}\n\n\n\n    </style>\n\n\n<div id=\"{{'gauge_'+$id}}\" class=\"g-container\" style=\"-g-angle:4; --container-size:5\">\n      \n    \n            <div class=\"g-plate\">\n                <div class=\"g-sector g-sector-normal\" style=\"transform: rotate(193deg) skew(291deg, 23deg);\"></div>\n                <div class=\"g-sector g-sector-high\" style=\"transform: rotate(329deg) skew(12deg,23deg);\"></div>\n                <div class=\"g-ticks\">\n                    <div class=\"g-tick\" style=\"--ga-tick:1;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:2;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:3;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:4;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:5;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:6;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:7;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:8;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:9;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:10;\"></div>\n                    <div class=\"g-tick\" style=\"--ga-tick:11;\"></div>\n                </div>\n                <div class=\"g-nums\">\n                    <div class=\"g-num\" style=\"left: 23%;top: 71%;\">0</div>\n                    <div class=\"g-num\" style=\"left: 13%;top: 56%;\">20</div>\n                    <div class=\"g-num\" style=\"left: 13%;top: 39%;\">40</div>\n                    <div class=\"g-num\" style=\"left: 19%;top: 24%;\">60</div>\n                    <div class=\"g-num\" style=\"left: 31%;top: 14%;\">80</div>\n                    <div class=\"g-num\" style=\"left: 47%;top: 10%;\">100</div>\n                    <div class=\"g-num\" style=\"left: 63%;top: 14%;\">120</div>\n                    <div class=\"g-num\" style=\"left: 74%;top: 25%;\">140</div>\n                    <div class=\"g-num\" style=\"left: 79%;top: 40%;\">160</div>\n                    <div class=\"g-num\" style=\"left: 78%;top: 56%;\">180</div>\n                    <div class=\"g-num\" style=\"left:65%; top:71%;\">200</div>\n                </div>\n                <div class=\"g-label\">Temperature</div>\n                <div class=\"g-needle\"></div>\n                <div class=\"g-needle-ring\"></div>\n                <div id=\"{{'gauge_val_'+$id}}\" class=\"g-val\"></div>\n            </div>\n     \n    \n</div>\n<script>\n(function(scope) {\n    let min = 0;\n    let max = 100;\n    scope.$watch('msg', function(msg) {\n        if (msg) {\n            const v = Math.floor(((msg.payload - min) / (max - min)) * 100);\n            document.getElementById('gauge_'+scope.$id).style.setProperty('--g-angle', v);\n            document.getElementById('gauge_val_'+scope.$id).innerText = msg.payload;\n        }   \n  });\n})(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 630,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "2513bd9f06308c62",
        "type": "ui_slider",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "2c0d82c5cbab11fd",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": 1,
        "className": "",
        "x": 470,
        "y": 820,
        "wires": [
            [
                "eb080df2e58aef8a"
            ]
        ]
    }
]