flows.json
[
    {
        "id": "ed84d3e070727412",
        "type": "tab",
        "label": "INDEX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "74273795d1e74a6e",
        "type": "tab",
        "label": "sensoresMQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fddb5bbb8ba27b8",
        "type": "tab",
        "label": "openValve",
        "disabled": false,
        "info": ""
    },
    {
        "id": "969d8996b0110f16",
        "type": "group",
        "z": "74273795d1e74a6e",
        "name": "SIMULACION PASAJE",
        "style": {
            "label": true
        },
        "nodes": [
            "a650bf9d83e4ec4a",
            "6ab5784e6c744d2d",
            "0ac0b9d3f7b20ef1",
            "59480978506aa25e",
            "c446106c6309cc8d",
            "037577b4694f7516",
            "1076149b27138956",
            "0f379a02def92561",
            "461a6de532021279",
            "ecd44b739172d337",
            "3a4720e3968a645f",
            "d75804f66ab62f96",
            "55111d96b4599d19",
            "c067b2ee2268df33",
            "48c9d21b26acf77a",
            "8565c56ba519a0be",
            "31b8113f5e28d529",
            "d756e4ac2a0679d1",
            "14c265f16e9267eb"
        ],
        "x": 54,
        "y": 39,
        "w": 1872,
        "h": 422
    },
    {
        "id": "bc56705e38d4e3b5",
        "type": "group",
        "z": "74273795d1e74a6e",
        "name": "SIMULACION MACHALA PARTE CENTRO",
        "style": {
            "label": true
        },
        "nodes": [
            "77ffe9d1cfed9295",
            "1bd14c4dcc0c6cb6",
            "df063d180870820d",
            "29da828dbbe96b49",
            "b27ae96fcc0d0838",
            "2c5e564e5282b805",
            "6ae4098b59963be4",
            "0da613f624bd8d62",
            "cb25313795a0dc02",
            "51bf719b31eb9ee4",
            "cd61c7530ba70d4d",
            "351f4998cc86a846",
            "6df59d79c3837f81",
            "5a73e1dbc78a0981"
        ],
        "x": 14,
        "y": 639,
        "w": 1292,
        "h": 302
    },
    {
        "id": "eca886a5d7cbed9d",
        "type": "group",
        "z": "ed84d3e070727412",
        "name": "MQTT PASAJE",
        "style": {
            "label": true
        },
        "nodes": [
            "f4c38b6556a8367c",
            "5187dd1a456b334e",
            "7ab6a756468eec78",
            "fe9ff1d4dc59e5bd",
            "ff1ce7930c0ad493",
            "ab3cc78b737a790a",
            "d81be35f7d46219d",
            "afb71e2ddc111536",
            "b98b3653f9dbb8f8",
            "afbf9c4d79d0185c",
            "689c5ff4468693e8",
            "0ad30251fa78784a",
            "bebab00e84672e49",
            "902b1c8a928ffe6a",
            "02899c84331de550",
            "2abda30277bd5535",
            "1b5d8b8a0c3b7e77",
            "bed00d5bd4b1128d",
            "98258f222ce807e5",
            "dea3372b5c040839",
            "57cc4b3fec6bccff",
            "c022c5cd2337e7fa"
        ],
        "x": 34,
        "y": 179,
        "w": 1492,
        "h": 402
    },
    {
        "id": "c97e8c04f9d3064f",
        "type": "group",
        "z": "ed84d3e070727412",
        "name": "MQTT MACHALA ",
        "style": {
            "label": true
        },
        "nodes": [
            "0791da82643a4d5d",
            "9aa6665478ba486b",
            "3269b7fb63aaea86",
            "7865b6b72b90e3b5",
            "812ecef174a9686f",
            "dbcef5dc4b83f9dd",
            "79e311249fd5b2e1",
            "83def08cd58251da",
            "3e2a9eb66d5ee59e",
            "7b947fe869622745",
            "d311c769d7924cd1"
        ],
        "x": 54,
        "y": 639,
        "w": 1212,
        "h": 162
    },
    {
        "id": "3e6e56dcfdf5ebfb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f75a08fb9f09b8b6",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Monitor GAS",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cd922c1521ea3b4b",
        "type": "ui_tab",
        "name": "HOME",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "778525b5c804be1f",
        "type": "ui_tab",
        "name": "MONITOR CIUDADES",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0449b3b1fea99d52",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a0943956e535e2d",
        "type": "ui_group",
        "name": "OPCIONES",
        "tab": "cd922c1521ea3b4b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6a6b371b335c1959",
        "type": "ui_group",
        "name": "cabecera",
        "tab": "cd922c1521ea3b4b",
        "order": 1,
        "disp": false,
        "width": 25,
        "collapse": false,
        "className": "ui-card-panel {         background-color: trasparent ;         border-radius: 10px !important;     }"
    },
    {
        "id": "25728a1daa1c705d",
        "type": "ui_group",
        "name": "Pasaje",
        "tab": "778525b5c804be1f",
        "order": 1,
        "disp": false,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "37da77f10cb455eb",
        "type": "ui_group",
        "name": "Historial de consumo",
        "tab": "cd922c1521ea3b4b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d783cb980c3979fc",
        "type": "ui_group",
        "name": "Demo",
        "tab": "0449b3b1fea99d52",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7373fc3cd0c987ee",
        "type": "ui_group",
        "name": "Machala",
        "tab": "778525b5c804be1f",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82f7a40d18a81935",
        "type": "ui_group",
        "name": "Consumo (%)",
        "tab": "cd922c1521ea3b4b",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "939f7c9fc17ab209",
        "type": "ui_group",
        "name": "Presion (PSI)",
        "tab": "cd922c1521ea3b4b",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "acaafe2945506c42",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "151a515161bdbc11",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "ce2fbe6adc6d45c3",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "25728a1daa1c705d",
        "order": 10,
        "width": 16,
        "height": 1
    },
    {
        "id": "9910a73a18453626",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "7e6e0689d4cc3cae",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "6ffaccb97d6ea1b5",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "65c984d2eb159370",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "d872dd32dcd23215",
        "type": "ui_spacer",
        "z": "ed84d3e070727412",
        "name": "spacer",
        "group": "7373fc3cd0c987ee",
        "order": 8,
        "width": 14,
        "height": 1
    },
    {
        "id": "957883066be49def",
        "type": "function",
        "z": "ed84d3e070727412",
        "name": "obtenerHora",
        "func": "var fecha = new Date();\n\n\nmsg.hora = fecha.toLocaleTimeString(\"es-ES\", {\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit'\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "9294c868009b30c5"
            ]
        ]
    },
    {
        "id": "b9298c58ae924471",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "group": "7a0943956e535e2d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "fecha",
        "label": "Fecha:",
        "format": "{{msg.fecha}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "22d03304d1339daa",
        "type": "inject",
        "z": "ed84d3e070727412",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "957883066be49def"
            ]
        ]
    },
    {
        "id": "9294c868009b30c5",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "group": "7a0943956e535e2d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "hora",
        "label": "Hora:",
        "format": "{{msg.hora}}",
        "layout": "row-left",
        "className": "label-bold",
        "style": false,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "20",
        "color": "#000000",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "e404673525a72701",
        "type": "inject",
        "z": "ed84d3e070727412",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "6a89e6ec70116b66"
            ]
        ]
    },
    {
        "id": "6a89e6ec70116b66",
        "type": "function",
        "z": "ed84d3e070727412",
        "name": "obtenerFecha",
        "func": "var fecha = new Date();\n\nmsg.fecha = fecha.toLocaleDateString(\"es-ES\", { weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\" });\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "b9298c58ae924471"
            ]
        ]
    },
    {
        "id": "7cf930cb2bae9f90",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "group": "6a6b371b335c1959",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MONITOREO DE GAS EL ORO",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "26",
        "color": "#000000",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "767fa5ac1e7bdb71",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "name": "NIVELES",
        "group": "82f7a40d18a81935",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "{{payload.nombre}}",
        "label": "%",
        "format": "{{presion *10}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1160,
        "y": 840,
        "wires": []
    },
    {
        "id": "7350b429e8ffc6a5",
        "type": "ui_dropdown",
        "z": "ed84d3e070727412",
        "name": "cbxCiudades",
        "label": "Ciudad",
        "tooltip": "ciudades",
        "place": "Seleccione la ciudad",
        "group": "7a0943956e535e2d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Pasaje (Centro)",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Pasaje(Cerritos)",
                "value": 2,
                "type": "num"
            },
            {
                "label": "Machala(Puerto)",
                "value": 3,
                "type": "num"
            },
            {
                "label": "Machala(Centro)",
                "value": 4,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 960,
        "wires": [
            [
                "5cf57aed3c334388"
            ]
        ]
    },
    {
        "id": "a18a76c1c4df1d81",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "name": "",
        "group": "939f7c9fc17ab209",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "",
        "label": "PSI",
        "format": "{{payload * 10 | number:2 }}",
        "min": 0,
        "max": "10",
        "colors": [
            "#e73623",
            "#f9f343",
            "#49c705"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 880,
        "wires": []
    },
    {
        "id": "99b63fa91f544066",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "group": "d783cb980c3979fc",
        "name": "Node-Red Dashboard Custom CSS",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n  body {\n    background: -webkit-linear-gradient(55deg,\n        #161616 0%,\n        #161616 50%,\n        #161616 100%);\n  }\n\n  /************************************* ui_text *************************************/\n  /* Cambiar el bold para label y value de los text */\n  .nr-dashboard-text .label {\n    font-weight: bold !important;\n  }\n\n  .nr-dashboard-text .value {\n    font-weight: normal !important;\n  }\n\n  /************************************* ui_Gauge *************************************/\n  /* Color de los gauges */\n  .nr-dashboard-gauge path {\n    fill: #ff7b00 !important;\n  }\n\n  .nr-dashboard-gauge circle {\n    fill: #ff7b00 !important;\n  }\n\n  element {\n    background: rgb(255, 106, 7);\n  }\n\n  /************************************* ui_switch *************************************/\n  .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-thumb {\n    background-color: #ff981d;\n  }\n\n  .nr-dashboard-theme .nr-dashboard-switch md-switch.md-checked .md-bar {\n    background-color: rgb(163 113 41 / 50%);\n  }\n\n  /*Top bar*/\n  body.nr-dashboard-theme md-toolbar,\n  body.nr-dashboard-theme md-content md-card {\n    background-color: transparent !important;\n    color: #ffffff !important;\n  }\n\n  /*Left menu*/\n  /*Sidebar*/\n  body.nr-dashboard-theme md-sidenav {\n    color: white !important;\n    background-color: rgba(0, 0, 0, 0) !important;\n  }\n\n  /* Añadir espacio entre los botones */\n  /* md-list-item {\n            margin-bottom: 10px !important;\n            margin-top: 10px !important;\n        }*/\n\n  md-list-item._md-button-wrap {\n    margin: 10px;\n  }\n\n  nr-menu-item-active {\n    border-right: 4px solid #ffe600;\n  }\n\n  /*Hover selection*/\n  a.md-no-style,\n  button.md-no-style {\n    border-radius: 10px !important;\n  }\n\n  .md-button.md-default-theme:not([disabled]).md-focused,\n  .md-button:not([disabled]).md-focused,\n  .md-button.md-default-theme:not([disabled]):hover,\n  .md-button:not([disabled]):hover {\n    background-color: none !important;\n  }\n\n  /*Selected*/\n  .nr-menu-item-active div button {\n    /* border-right: 4px solid rgb(255, 255, 255) !important;\n            border-left: 4px solid rgb(255, 255, 255) !important; */\n    /* background-color: #ff730000; */\n    border: none !important;\n  }\n\n  md-list-item.md-no-proxy.md-button,\n  md-list-item .md-no-style.md-button {\n    margin: 0px 5px !important;\n    width: 95% !important;\n  }\n\n  /*List*/\n  body.nr-dashboard-theme md-sidenav div.md-list-item-inner {\n    color: white !important;\n    background-color: rgb(165, 75, 40) !important;\n    border-radius: 10px !important;\n  }\n\n  /*Groups*/\n  ui-card-panel {\n    background-color: rgba(255, 255, 255, 0.089) !important;\n    border-radius: 10px !important;\n  }\n\n  .nr-dashboard-theme ui-card-panel {\n    border: none !important;\n  }\n\n  /*Name groups*/\n  .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: rgba(255, 255, 255, 0.5) !important;\n  }\n\n  /*Bouttons*/\n  .nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: rgba(255, 255, 255, 0.1) !important;\n  }\n\n  .md-button {\n    border-radius: 10px !important;\n  }\n\n  /*Dropdown menu*/\n\n  /* Color de fondo en el efecto de abrir */\n  .nr-dashboard-theme md-select-menu {\n    background-color: rgb(39, 39, 39) !important;\n    /* background-color: transparent !important; */\n  }\n\n  .nr-dashboard-theme .md-select-menu-container {\n    border-radius: 10px !important;\n    border: none !important;\n  }\n\n  /* Color de la opcion seleccionada en el menú desplegable */\n  .nr-dashboard-theme md-select-menu md-option[selected] {\n    color: white !important;\n    background-color: #ff7b00 !important;\n  }\n\n  /* Color con hover sobre las opciones del menú desplegable */\n  .nr-dashboard-theme md-select-menu md-option:hover {\n    background-color: #555555 !important;\n  }\n\n  /*Template*/\n  md-card>img,\n  md-card>md-card-header img,\n  md-card md-card-title-media img {\n    border-radius: 10px !important;\n  }\n\n  /* Color picker text BG */\n  .nr-dashboard-theme .color-picker-input-wrapper>input {\n    color: white !important;\n    background-color: transparent !important;\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 160,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5cf57aed3c334388",
        "type": "switch",
        "z": "ed84d3e070727412",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 410,
        "y": 960,
        "wires": [
            [
                "97e74b2a9d6748c9"
            ],
            [
                "05a5cb7f2a63afe1"
            ],
            [
                "0cfe7f9c2b79a909"
            ],
            [
                "f0ff91e4b6e6e474"
            ]
        ]
    },
    {
        "id": "7d20ddbd9ce43158",
        "type": "change",
        "z": "ed84d3e070727412",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "datos",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "05a5cb7f2a63afe1",
        "type": "change",
        "z": "ed84d3e070727412",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "presion",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "0cfe7f9c2b79a909",
        "type": "change",
        "z": "ed84d3e070727412",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "f0ff91e4b6e6e474",
        "type": "change",
        "z": "ed84d3e070727412",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "97e74b2a9d6748c9",
        "type": "switch",
        "z": "ed84d3e070727412",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a827b1b2a378b5ed",
        "type": "ui_chart",
        "z": "ed84d3e070727412",
        "name": "",
        "group": "37da77f10cb455eb",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1150,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "f4c38b6556a8367c",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "topic": "admin123/cilindros/pasaje/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e6e56dcfdf5ebfb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "5187dd1a456b334e"
            ]
        ]
    },
    {
        "id": "5187dd1a456b334e",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Filtrar topicos",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "admin123/cilindros/pasaje",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin123/cilindros/pasaje/presion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin123/cilindros/pasaje/consumo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "ff1ce7930c0ad493"
            ],
            [
                "7ab6a756468eec78"
            ],
            [
                "fe9ff1d4dc59e5bd"
            ]
        ]
    },
    {
        "id": "7ab6a756468eec78",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Set topic presion",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 340,
        "wires": [
            [
                "afb71e2ddc111536",
                "afbf9c4d79d0185c"
            ]
        ]
    },
    {
        "id": "fe9ff1d4dc59e5bd",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Set topic consumo",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "consumo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "689c5ff4468693e8"
            ]
        ]
    },
    {
        "id": "ff1ce7930c0ad493",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Set topic datos",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "datos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "b98b3653f9dbb8f8"
            ]
        ]
    },
    {
        "id": "ab3cc78b737a790a",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "NIVELES ",
        "group": "25728a1daa1c705d",
        "order": 6,
        "width": 4,
        "height": 5,
        "gtype": "wave",
        "title": "Nivel",
        "label": "%",
        "format": "{{payload * 10}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 320,
        "wires": []
    },
    {
        "id": "d81be35f7d46219d",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "PRESION",
        "group": "25728a1daa1c705d",
        "order": 7,
        "width": 5,
        "height": 5,
        "gtype": "gage",
        "title": "Presion",
        "label": "PSI",
        "format": "{{payload | number:2 }}",
        "min": 0,
        "max": "150",
        "colors": [
            "#e73623",
            "#f9f343",
            "#49c705"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1040,
        "y": 360,
        "wires": []
    },
    {
        "id": "afb71e2ddc111536",
        "type": "range",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "minin": "0",
        "maxin": "15",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 870,
        "y": 320,
        "wires": [
            [
                "ab3cc78b737a790a"
            ]
        ]
    },
    {
        "id": "0791da82643a4d5d",
        "type": "mqtt in",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "",
        "topic": "admin123/cilindros/machala/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e6e56dcfdf5ebfb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 720,
        "wires": [
            [
                "9aa6665478ba486b"
            ]
        ]
    },
    {
        "id": "9aa6665478ba486b",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "admin123/cilindros/machala",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin123/cilindros/machala/presion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "admin123/cilindros/machala/consumo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 720,
        "wires": [
            [
                "812ecef174a9686f"
            ],
            [
                "3269b7fb63aaea86"
            ],
            [
                "7865b6b72b90e3b5"
            ]
        ]
    },
    {
        "id": "3269b7fb63aaea86",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "dbcef5dc4b83f9dd"
            ]
        ]
    },
    {
        "id": "7865b6b72b90e3b5",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "consumo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 760,
        "wires": [
            [
                "dbcef5dc4b83f9dd"
            ]
        ]
    },
    {
        "id": "812ecef174a9686f",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "datos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "dbcef5dc4b83f9dd"
            ]
        ]
    },
    {
        "id": "dbcef5dc4b83f9dd",
        "type": "join",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 750,
        "y": 720,
        "wires": [
            [
                "83def08cd58251da",
                "3e2a9eb66d5ee59e",
                "7b947fe869622745"
            ]
        ]
    },
    {
        "id": "79e311249fd5b2e1",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "NIVELES",
        "group": "7373fc3cd0c987ee",
        "order": 1,
        "width": 6,
        "height": 5,
        "gtype": "wave",
        "title": "{{payload.datos.nombre}}",
        "label": "%",
        "format": "{{payload.presion*10}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 680,
        "wires": []
    },
    {
        "id": "83def08cd58251da",
        "type": "ui_gauge",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "PRESION",
        "group": "7373fc3cd0c987ee",
        "order": 2,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "",
        "label": "PSI",
        "format": "{{payload.presion* 10 | number:2 }}",
        "min": 0,
        "max": "100",
        "colors": [
            "#e73623",
            "#f9f343",
            "#49c705"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1180,
        "y": 720,
        "wires": []
    },
    {
        "id": "3e2a9eb66d5ee59e",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "consumo",
                "pt": "msg",
                "to": "payload.consumo",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "consumo",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "7b947fe869622745",
        "type": "range",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "minin": "0",
        "maxin": "15",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": false,
        "property": "payload.presion",
        "name": "",
        "x": 990,
        "y": 680,
        "wires": [
            [
                "79e311249fd5b2e1"
            ]
        ]
    },
    {
        "id": "b98b3653f9dbb8f8",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "25728a1daa1c705d",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload.nombre}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "afbf9c4d79d0185c",
        "type": "range",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "minin": "0",
        "maxin": "15",
        "minout": "0",
        "maxout": "150",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "d81be35f7d46219d",
                "902b1c8a928ffe6a"
            ]
        ]
    },
    {
        "id": "689c5ff4468693e8",
        "type": "ui_chart",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "group": "25728a1daa1c705d",
        "order": 8,
        "width": 6,
        "height": 5,
        "label": "Historial de consumo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 720,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d311c769d7924cd1",
        "type": "ui_chart",
        "z": "ed84d3e070727412",
        "g": "c97e8c04f9d3064f",
        "name": "",
        "group": "7373fc3cd0c987ee",
        "order": 3,
        "width": 6,
        "height": 4,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9500",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1190,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "bebab00e84672e49",
        "type": "ui_switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "label": "Valvula",
        "tooltip": "",
        "group": "25728a1daa1c705d",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1380,
        "y": 240,
        "wires": [
            [
                "57cc4b3fec6bccff"
            ]
        ]
    },
    {
        "id": "0ad30251fa78784a",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "25728a1daa1c705d",
        "name": "",
        "order": 5,
        "width": 5,
        "height": 5,
        "format": "<!-- <div ng-bind-html=\"msg.payload\"></div> -->\n<!-- <div styles=\"margin: 0\"> -->\n<img src=\"https://www.duragas.com.ec/wp-content/uploads/2020/01/bombona03.png\"\n     style=\"display: block; margin: auto;\"><!-- </div> -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1100,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "902b1c8a928ffe6a",
        "type": "switch",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "60",
                "vt": "num",
                "v2": "99",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "59",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "2abda30277bd5535"
            ],
            [
                "1b5d8b8a0c3b7e77"
            ],
            [
                "bed00d5bd4b1128d"
            ],
            [
                "c022c5cd2337e7fa"
            ]
        ]
    },
    {
        "id": "02899c84331de550",
        "type": "ui_text",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "25728a1daa1c705d",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Estado:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1420,
        "y": 420,
        "wires": []
    },
    {
        "id": "2abda30277bd5535",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Estado ALTO",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚠️ Alto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 360,
        "wires": [
            [
                "02899c84331de550"
            ]
        ]
    },
    {
        "id": "1b5d8b8a0c3b7e77",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Estado OK",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "🟢 OK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 400,
        "wires": [
            [
                "02899c84331de550"
            ]
        ]
    },
    {
        "id": "bed00d5bd4b1128d",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Estado bajo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "🟡 Bajo\t",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 440,
        "wires": [
            [
                "02899c84331de550"
            ]
        ]
    },
    {
        "id": "c022c5cd2337e7fa",
        "type": "change",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "Estado critico",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "🔴 Crítico\t",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 480,
        "wires": [
            [
                "02899c84331de550"
            ]
        ]
    },
    {
        "id": "98258f222ce807e5",
        "type": "ui_template",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "group": "25728a1daa1c705d",
        "name": "",
        "order": 11,
        "width": "20",
        "height": "3",
        "format": "<style>\n    .desplegable {\n        border: 1px solid #ccc;\n        border-radius: 6px;\n        padding: 10px;\n        margin-bottom: 10px;\n        background-color: transparent;\n    }\n\n    .header {\n        display: flex;\n        justify-content: space-between;\n        cursor: pointer;\n        font-weight: bold;\n        user-select: none;\n    }\n\n    .flecha {\n        transition: transform 0.3s ease;\n    }\n\n    .flecha.abierto {\n        transform: rotate(90deg);\n    }\n\n    .contenido {\n        display: none;\n        margin-top: 10px;\n    }\n\n    .contenido.visible {\n        display: block;\n    }\n</style>\n\n<div class=\"desplegable\">\n    <div class=\"header\" onclick=\"alternarDesplegable(this)\">\n        Información del tanque\n        <span class=\"flecha\">▶</span>\n    </div>\n    <div class=\"contenido\">\n        <p><strong>Ubicación:</strong> Zona Norte</p>\n        <p><strong>Presión:</strong> 190 PSI</p>\n        <p><strong>Nivel:</strong> 65%</p>\n    </div>\n</div>\n\n<script>\n    function alternarDesplegable(header) {\n    const flecha = header.querySelector('.flecha');\n    const contenido = header.nextElementSibling;\n    flecha.classList.toggle('abierto');\n    contenido.classList.toggle('visible');\n  }\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "dea3372b5c040839",
        "type": "ui_toast",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "position": "bottom left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1410,
        "y": 540,
        "wires": []
    },
    {
        "id": "57cc4b3fec6bccff",
        "type": "mqtt out",
        "z": "ed84d3e070727412",
        "g": "eca886a5d7cbed9d",
        "name": "",
        "topic": "admin123/cilindros/pasaje/valvula",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e6e56dcfdf5ebfb",
        "x": 1360,
        "y": 300,
        "wires": []
    },
    {
        "id": "a650bf9d83e4ec4a",
        "type": "mqtt out",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e6e56dcfdf5ebfb",
        "x": 1850,
        "y": 80,
        "wires": []
    },
    {
        "id": "6ab5784e6c744d2d",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set datos a payload y su topic",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":1,\"nombre\":\"PASAJE(Centro)\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/pasaje",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "a650bf9d83e4ec4a"
            ]
        ]
    },
    {
        "id": "0ac0b9d3f7b20ef1",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Disparador datos",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "6ab5784e6c744d2d"
            ]
        ]
    },
    {
        "id": "59480978506aa25e",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Generar Presión",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "presion",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "c446106c6309cc8d"
            ]
        ]
    },
    {
        "id": "c446106c6309cc8d",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Presión",
        "low": "15",
        "high": "15",
        "inte": "true",
        "property": "payload",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "55111d96b4599d19",
                "c067b2ee2268df33"
            ]
        ]
    },
    {
        "id": "037577b4694f7516",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Consumir gas",
        "low": "1",
        "high": "1",
        "inte": "false",
        "property": "consumo",
        "x": 1220,
        "y": 280,
        "wires": [
            [
                "1076149b27138956",
                "d75804f66ab62f96"
            ]
        ]
    },
    {
        "id": "1076149b27138956",
        "type": "function",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Calcular presion resultante",
        "func": "let presion = flow.get(\"ppasaje\") ; \nlet consumo = msg.consumo;\n\n\nif (presion>0){\n    flow.set(\"ppasaje\", (presion - consumo));\n\n}\n\nmsg.presionr = flow.get(\"ppasaje\"); \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 360,
        "wires": [
            [
                "d75804f66ab62f96"
            ]
        ]
    },
    {
        "id": "0f379a02def92561",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Disparador de consumo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "31b8113f5e28d529"
            ]
        ]
    },
    {
        "id": "461a6de532021279",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set presion topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/pasaje/presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 180,
        "wires": [
            [
                "a650bf9d83e4ec4a"
            ]
        ]
    },
    {
        "id": "ecd44b739172d337",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set consumo a topic consumo",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/pasaje/consumo",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "consumo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "presionr",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1690,
        "y": 180,
        "wires": [
            [
                "a650bf9d83e4ec4a"
            ]
        ]
    },
    {
        "id": "3a4720e3968a645f",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set presion a topic presion",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/pasaje/presion",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "presionr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "consumo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 260,
        "wires": [
            [
                "a650bf9d83e4ec4a"
            ]
        ]
    },
    {
        "id": "d75804f66ab62f96",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Validar presionr > 0",
        "property": "presionr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1430,
        "y": 220,
        "wires": [
            [
                "ecd44b739172d337",
                "3a4720e3968a645f"
            ]
        ]
    },
    {
        "id": "55111d96b4599d19",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Set ppasaje a payload",
        "rules": [
            {
                "t": "set",
                "p": "ppasaje",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "037577b4694f7516"
            ]
        ]
    },
    {
        "id": "77ffe9d1cfed9295",
        "type": "mqtt out",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3e6e56dcfdf5ebfb",
        "x": 1230,
        "y": 680,
        "wires": []
    },
    {
        "id": "1bd14c4dcc0c6cb6",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":2,\"nombre\":\"Machala(Centro)\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/machala",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "77ffe9d1cfed9295"
            ]
        ]
    },
    {
        "id": "df063d180870820d",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "1bd14c4dcc0c6cb6"
            ]
        ]
    },
    {
        "id": "29da828dbbe96b49",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "Generar Presión",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "presion",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "b27ae96fcc0d0838"
            ]
        ]
    },
    {
        "id": "b27ae96fcc0d0838",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "Presión",
        "low": "15",
        "high": "15",
        "inte": "true",
        "property": "payload",
        "x": 340,
        "y": 740,
        "wires": [
            [
                "cb25313795a0dc02",
                "5a73e1dbc78a0981"
            ]
        ]
    },
    {
        "id": "2c5e564e5282b805",
        "type": "random",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "Consumo",
        "low": "0",
        "high": "1",
        "inte": "false",
        "property": "consumo",
        "x": 460,
        "y": 860,
        "wires": [
            [
                "6ae4098b59963be4",
                "cd61c7530ba70d4d"
            ]
        ]
    },
    {
        "id": "6ae4098b59963be4",
        "type": "function",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "Calcular Operación",
        "func": "let presion = flow.get(\"pmachala\") ; \nlet consumo = msg.consumo;\n\nif(presion>0){\n    flow.set(\"pmachala\", presion - consumo); \n}\nmsg.presionr = flow.get(\"pmachala\"); \n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 900,
        "wires": [
            [
                "cd61c7530ba70d4d",
                "51bf719b31eb9ee4"
            ]
        ]
    },
    {
        "id": "0da613f624bd8d62",
        "type": "inject",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "2c5e564e5282b805"
            ]
        ]
    },
    {
        "id": "cb25313795a0dc02",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/machala/presion",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 740,
        "wires": [
            [
                "77ffe9d1cfed9295"
            ]
        ]
    },
    {
        "id": "51bf719b31eb9ee4",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "property": "presionr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 970,
        "y": 900,
        "wires": [
            [
                "351f4998cc86a846"
            ]
        ]
    },
    {
        "id": "cd61c7530ba70d4d",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "property": "presionr",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 730,
        "y": 820,
        "wires": [
            [
                "6df59d79c3837f81"
            ]
        ]
    },
    {
        "id": "351f4998cc86a846",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/machala/presion",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "presionr",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "consumo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 900,
        "wires": [
            [
                "77ffe9d1cfed9295"
            ]
        ]
    },
    {
        "id": "6df59d79c3837f81",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "admin123/cilindros/machala/consumo",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "consumo",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "presionr",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 820,
        "wires": [
            [
                "77ffe9d1cfed9295"
            ]
        ]
    },
    {
        "id": "5a73e1dbc78a0981",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "bc56705e38d4e3b5",
        "name": "Set flow.presionC2",
        "rules": [
            {
                "t": "set",
                "p": "pmachala",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 490,
        "y": 800,
        "wires": [
            [
                "2c5e564e5282b805"
            ]
        ]
    },
    {
        "id": "c067b2ee2268df33",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Validar presion > 0",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "461a6de532021279"
            ]
        ]
    },
    {
        "id": "48c9d21b26acf77a",
        "type": "mqtt in",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "",
        "topic": "admin123/cilindros/pasaje/valvula",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e6e56dcfdf5ebfb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "8565c56ba519a0be"
            ]
        ]
    },
    {
        "id": "8565c56ba519a0be",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Mover payload a valvula",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "valvula",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "d756e4ac2a0679d1"
            ]
        ]
    },
    {
        "id": "31b8113f5e28d529",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Mover payload a consumo",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "consumo",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "d756e4ac2a0679d1"
            ]
        ]
    },
    {
        "id": "d756e4ac2a0679d1",
        "type": "switch",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "Si valvula == consumo (TRUE)",
        "property": "valvula",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "consumo",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 380,
        "wires": [
            [
                "14c265f16e9267eb"
            ]
        ]
    },
    {
        "id": "14c265f16e9267eb",
        "type": "change",
        "z": "74273795d1e74a6e",
        "g": "969d8996b0110f16",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "consumo",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 380,
        "wires": [
            [
                "037577b4694f7516"
            ]
        ]
    },
    {
        "id": "5be65dbce585fe33",
        "type": "join",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "4542ed6e5cdbd9e2"
            ]
        ]
    },
    {
        "id": "df90f3d35b7476e3",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "temperature",
        "payload": "40",
        "payloadType": "num",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "3f7be114a53332cb",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "humidity",
        "payload": "33",
        "payloadType": "num",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "0ff794d961eb9804",
        "type": "inject",
        "z": "1fddb5bbb8ba27b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pressure",
        "payload": "1000",
        "payloadType": "num",
        "x": 270,
        "y": 360,
        "wires": [
            [
                "5be65dbce585fe33"
            ]
        ]
    },
    {
        "id": "4542ed6e5cdbd9e2",
        "type": "debug",
        "z": "1fddb5bbb8ba27b8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "9086c2496534a3a8",
        "type": "comment",
        "z": "1fddb5bbb8ba27b8",
        "name": "Combining three payload into one object ",
        "info": "",
        "x": 520,
        "y": 180,
        "wires": []
    }
]